/* ==========================================================================
    Nested belowpage bab dropdown styles - this part is none datatables specific
     ========================================================================== */

/* font size. parent and all child elements */
.belowPage-bab-dropdown > * {
  font-size: 0.88em;
}

.belowPage-bab-dropdown {
  /*background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
  width: 250px;
  /* */
  padding-inline-start: 0;
  list-style-type: none;
  /* center horizontally */
  margin-left: auto;
  margin-right: auto;
  /* remove top margin */
  margin-top: 0;
  /* buttons style */
  border: none;
  /* material theme builder, source color C0DAF9 */
  background: #dee3eb none;
  /* https://material-foundation.github.io/material-theme-builder */
  /* prev e0e1e2 */
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
}

.belowPage-bab-dropdown ul {
  display: none;
  list-style-type: none;
  padding: 0;
  /* material theme builder, source color C0DAF9 */
  background-color: #eceef4;
  /* prev f9f9f9 */
  /* */
  text-align: right;
}

.belowPage-bab-dropdown li {
  border-bottom: 1px solid #e0e0e0;
}

.belowPage-bab-dropdown li:last-child {
  border-bottom: none;
}

.belowPage-bab-dropdown a {
  color: #333;
  display: block;
  /*padding: 12px 20px;*/
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer; /* Added pointer cursor */
}

.belowPage-bab-dropdown a:hover {
  /* material theme builder, source color C0DAF9 */
  background-color: #286294;
  /* prev f5f5f5 */
  color: #fff;
}

.belowPage-bab-dropdown > li > a::before {
  content: "◄";
  float: left;
  font-size: 0.8em; /* 0.7 */
  margin-top: 8px; /* 4 */
}

.belowPage-bab-dropdown li.active > a::before {
  content: "▼ ";
  /* */
  font-size: 0.7em;
  /*float: left;*/
}

.belowPage-bab-dropdown li.active > ul {
  display: block;
}

.belowPage-bab-dropdown > li > ul > li > a {
  padding-right: 40px;
}

.belowPage-bab-dropdown > li > ul > li > ul > li > a {
  padding-right: 50px; /* 60 */
  position: relative;
}

.belowPage-bab-dropdown > li > ul > li > a::before {
  content: "\25CF"; /* Black Circle */
  margin-left: 10px; /* Adjust spacing */
  color: #000; /* Adjust color */
}

/* Remove the black circle for the last two items */
.belowPage-bab-dropdown > li > ul > li:nth-last-child(-n + 2) > a::before {
  content: none; /* Removes the content */
  margin-left: 0; /* Adjust spacing */
}
/* Remove the black circle for the last two items */
.belowPage-bab-dropdown > li > ul > li:nth-last-child(-n + 2) > a {
  text-align: left;
  padding-left: 40px;
}

.belowPage-bab-dropdown > li > ul > li > ul > li > a::before {
  content: "\2578\00a0"; /* Unicode for a line then a space */
  /*margin-right: 10px;*/ /* Adjust spacing */
}

.belowPage-bab-dropdown ul li:first-child {
  border-top: 1px solid #e0e0e0;
}

/* ==========================================================================
     DataTables Custom Core Styles
     ========================================================================== */

/* makes the first row of date take up most of the vertical height of the screen on mobile
.multiRowTable prevents this being applied for multirow tables like radheefs*/
@media (max-width: 599px) {
  :not(.multiRowTable).cards tbody tr:first-child {
    min-height: 88vh;
  }
}
/* for the remaining screens, tablet - desktop */
@media (min-width: 600px) {
  :not(.multiRowTable).cards tbody tr:first-child {
    min-height: 50vh;
  }
}
/*

/* removes space at the top and bottom of the first and last tr of the table*/
.cards tbody tr:first-child {
  margin-top: 0;
}
.cards tbody tr:last-child {
  margin-bottom: 0;
}
/* hide first searchbar on tablet and up */
@media (min-width: 600px) {
  .dt-search:has(#dt-search-0) {
    display: none;
  }
}
/* reverse of that, hide second searchbar on mobile */
@media (max-width: 599px) {
  .dt-search:has(#dt-search-1) {
    display: none;
  }
}

/* moves searchbar close x icon a little to the right (for rtl i have to change left) */
@media (max-width: 599px) {
  /* Adjust the clear (x) button position for the search input on mobile */
  .dt-input::-webkit-search-cancel-button {
    position: relative;
    left: 10px; /* Adjust this value as needed */
  }
  /* firefox doesnt show it at all */
}

/* removes th table header above columns, for card view */
thead {
  display: none;
}
/* removes colgroup cols except the first one, for card view */
.dt-container > colgroup > col:not(:nth-child(0)) {
  display: none;
}
/* aligns row of elements to top rather than center, like buttons etc */
/*div.dt-container div.dt-layout-row div.dt-layout-cell {
        align-items: center;
    }
    */
/* above moves paging info up too, so this moves it back to middle */
/*div.dt-container div.dt-layout-row:nth-child(3) div.dt-layout-cell.dt-layout-full {
        align-items: center;
    }
    */
/* jump to row select color */
/*tr.selected*/
.dataTable > tbody > tr.selected {
  --dt-row-selected: initial;
  --dt-row-selected-text: initial;
  /* material theme builder, source color C0DAF9 */
  border-top: 5px solid #235580;
  border-bottom: 5px solid #235580;
  /* prev 136296 */
}

/* colors for DataTables controls */
.dt-container .dt-input,
.dt-container .dt-search input,
.dt-container .dt-paging input {
  background-color: var(--color-bg-tertiary);
  color: var(--color-text-primary);
  border-color: var(--color-border);
}

/* ensure search bar doesnt overflow the width on mobile */
div.dt-container .dt-input,
div.dt-container .dt-search input {
  width: 307px;
  max-width: 90vw;
  /* indent the text in the search a little, otherwise character cuts off */
  text-indent: 7px;
  /* makes its bg color not see thru */
  /*background-color: #fff;*/
}
/* makes the inputpaging box bigger */
.dt-container
  > div
  > div
  > .dt-inputpaging.dt-paging
  > .dt-paging-input
  > input {
  /*width: 110%;
       */
  font-size: 80%;
  /* 80 */
  /* fixes width, so doesnt jump around when numbers increase in no of digits */
  width: 65px !important; /* 50 for mobile? */
}
/* mobile only size */
/*@media (max-width: 599px) {
      .dt-container
        > div
        > div
        > div.dt-inputpaging.dt-paging
        > div
        > input[type="search"] {
        font-size: 80%;
        width: 50px !important;
      }
    }*/
/* make font size of / [total pages] smaller*/
.dt-container
  > div
  > div
  > div.dt-inputpaging.dt-paging
  > div.dt-paging-input
  > span {
  font-size: 90%;
  /* 70*/
}
/* sets font for searchbox placeholder */
.dt-container
  > div
  > div
  > div.dt-inputpaging.dt-paging
  > div
  > input[type="search"]::placeholder {
  font-family: "mergedFont", "Arial", sans-serif, "faruma";
  text-indent: 5px;
  font-size: 90%;
}
/* right to left https://datatables.net/examples/i18n/rtl.html some other elements do need to be set back to ltr though */
.dt-container {
  direction: rtl;
}
/* remove thin border lines above and below rows of td (or rather, last td?) not enough to just remove "display" class from table */
/* #example > tbody > tr > td */
/* 
    div.dt-container.dt-empty-footer tbody > tr:last-child > * { */
div.dt-container.dt-empty-footer tbody > tr:last-child > td {
  border: none;
}
/* ensures pagination buttons dont overflow into the next row on mobile */
div.dt-container > div > div > div.dt-inputpaging.dt-paging {
  white-space: nowrap;
}
/* lessens the gap between colvis menu list, as well as pagelength button (mobile) and makes text a littler smaller */
/* .buttons-columnVisibility
     .button-page-length
     .buttons-colvisRestore */
.dt-container > div > div > div.dt-buttons > div > div > .dt-button {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 90%;
}
/* brings the tick marks in colvis closer to center */
div.dt-button-collection > div > button.dt-button-active::after {
  top: 30%;
}
/* same for pagelength button (mobile) 
    actually top covers that too
    div.dt-button-collection .dt-button-active:after {
      top: 23%;
    } */
/* on mobile, where collection buttons are, lessens font size, centers the dropdown */
.dt-container
  > div
  > div
  > div.dt-buttons
  > div.dt-button-collection
  > div
  > button.dt-button {
  font-size: 90%;
  /*text-align: right;*/
  /*padding-right: 30px;*/
}
/* moves text span to right aligned, instead of left, also gives it some spacing from the right */
.dt-container
  > div
  > div
  > div.dt-buttons
  > div.dt-button-collection
  > div
  > button.dt-button {
  text-align: right;
  padding-right: 30px;
}
/* gives more right side padding where ticks are, in colvis and pagelength dropdown */

.dt-container
  > div
  > div
  > div.dt-buttons
  > div.dt-button-collection
  > div
  > button.dt-button.buttons-columnVisibility,
.dt-container
  > div
  > div
  > div.dt-buttons
  > div.dt-button-collection
  > div
  > button.dt-button.button-page-length {
  padding-right: 50px;
}

/* colors for Button states */

/* sets color of colvis list items on hover
    div.dt-button-collection .dt-button:hover:not(.disabled) */
div.dt-button-collection > div > button.dt-button:hover:not(.disabled) {
  /*color: white;*/
  /* material theme builder, source color C0DAF9 */
  /*background-color: #286294;*/
  /* prev 195faa */
  background-color: var(--color-accent) !important;
  color: var(--color-bg-primary) !important;
}

/* colors for Selected states */

/* since we turned off the colors for select in the regular dt table, its invisible on the selected searchpanes data too, this makes it show again on searchpanes */
div.dt-scroll > div.dt-scroll-body > table.dataTable > tbody > tr.selected {
  /*color: white;*/
  /* material theme builder, source color C0DAF9 */
  /*background-color: #286294;*/
  /* prev 195faa */
  background-color: var(--color-accent);
  color: var(--color-bg-primary);
}
/* lowers the number pill box in searchpanes a little bit, needed to change static position to do it */
div.dt-scroll
  > div.dt-scroll-body
  > table.dataTable
  > tbody
  > tr
  > td
  > div
  > span.dtsp-pill {
  position: relative;
  top: 1.5px;
}
/* gets rid of dt background in searchpanes and searchbuilder with css, which cant be removed in config */
div.dt-layout-cell.dt-layout-full > div.dt-button-background {
  background: none;
  /* hidden interferes with reopening searchpanes and builder */
  /*visibility: hidden;
       */
  /*display: none !important;
       */
  /*position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        background: radial-gradient( ellipse farthest-corner at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100% );
        z-index: 2001;
       */
}
/* makes search pane list content right aligned instead of left */
div.dt-scroll-body
  > table.dataTable
  > tbody
  > tr
  > td.dtsp-nameColumn
  > div.dtsp-nameCont
  > span.dtsp-name {
  text-align: right;
}
/* makes the value dropdown box of searchbuild, right aligned instead of left */
.dtsb-inputCont {
  text-align: right;
}
/* indents the searchbuilder data and condition dropdowns a little, followed by value */
.dtsb-searchBuilder > div.dtsb-group > div.dtsb-criteria > select.dtsb-dropDown,
.dtsb-searchBuilder
  > div.dtsb-group
  > div.dtsb-criteria
  > div.dtsb-inputCont
  > select {
  text-indent: 7px;
}
/* rotates the AND button of searchbuilder to match rtl */
.dtsb-searchBuilder
  > div.dtsb-group
  > div.dtsb-logicContainer
  > button.dtsb-logic.dtsb-button
  > div {
  transform: rotate(-180deg);
}
/* makes copy alert number of rows copied, rtl */
#datatables_buttons_info > div {
  direction: rtl;
}
/* changes the clear filters button to match the others, but only when not in disabled state */
.dtsp-panesContainer
  > div.dtsp-titleRow
  > button.dtsp-clearAll:not(.dtsp-disabledButton) {
  border: none;
  background: #e0e1e2 none;
  border-radius: 0.28571429rem;
  /* ? */
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
}
/* focust states style */
/*customizes the keytables focus box */
table.dataTable tbody td.focus {
  /* material theme builder, source color C0DAF9 */
  /*outline: 2.5px solid #235580;*/ /* actually, this was selected by :root, but its derived value was 
        rgb(51, 122, 183)
      /* prev 337ab7 */
  outline: 2.5px solid var(--color-focus);
  outline-offset: -2px;
  border-radius: 0.28571429rem;
  /* 5px;
        */
}
/* makes the pagelength dropdown selecter rounder like the others */
#dt-length-0,
#dt-search-0 {
  border-radius: 0.28571429rem;
  -webkit-border-radius: 0.28571429rem;
  -moz-border-radius: 0.28571429rem;
}
/* same for paginginput box, but setting border radius makes it thicker for some reason, so need to thin the border width here as well, and color it less dark */
.dt-inputpaging.dt-paging > div > input[type="search"] {
  border-radius: 0.28571429rem;
  -webkit-border-radius: 0.28571429rem;
  -moz-border-radius: 0.28571429rem;
  /**/
  border-width: 1px;
  border-color: #aaa;
}
/* puts some margins to left and right of full dt rows, otherwise is basically touching the outside of the page as is
    .dt-container > div.dt-layout-row > div.dt-layout-cell.dt-layout-full {
      margin-left: 10px;
      margin-right: 10px;
    } */
/* commented out right otherwise  all of it is moved from the right for some reason */

/* datatables search highlight styles */

/* mark js highlight color */
mark {
  /* background: #82b8fa; */
  /*color: black;*/
  background-color: var(--color-highlight);
  color: var(--color-text-primary);
  /* ? */
}
/*prev background: #b3d4fc */
/*table.dataTable span.highlight {
      background-color: #82b8fa;
      border-radius: 0.28571429rem;
    }*/ /* ffff88 */

/*table.dataTable span.column_highlight {
        background-color: #ffcc99;
        border-radius: 0.28571429rem;
    }
    */

/* ==========================================================================
    DataTables Additional Specific Dark Mode Overrides
     ========================================================================== */

@media (prefers-color-scheme: dark) {
  .cards tbody tr {
    /* Enhance card shadows for dark mode ??? */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  /* Adjust input fields for dark mode */
  .dt-container input[type="search"],
  .dt-container select {
    /*background-color: var(--color-bg-tertiary);*/
    color: var(--color-text-primary);
    border-color: var(--color-border);
  }
  /* Adjust button backgrounds for dark mode */
  .dt-button,
  .dtsb-button {
    background: var(--color-bg-tertiary) none !important;
  }

  /* Enhance visibility of borders in dark mode */
  .dt-container {
    border-color: var(--color-border);
  }

  /* color for disabled paging buttons */

  /*div.dt-container .dt-paging .dt-paging-button.disabled
  default dt css has important, so had to specify it further */
  div.dt-container div.dt-paging .dt-paging-button.disabled {
    /* Dark mode */
    opacity: 0.35;
    color: var(--color-text-secondary) !important;
    background-color: var(--color-bg-tertiary) !;
  }
}

/* ==========================================================================
    DataTables Cards Layout
     ========================================================================== */
/* original card styles */

/* card styles
  https://datatables.net/forums/discussion/comment/228301/#Comment_228301 */
.cards tbody tr {
  /* float: left;
        removing this used to center, now using flexbox instead */
  /*width: 20rem;
        this narrows the columns too much*/
  /*box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
       */
  margin: 0.5rem;
  /* turned these below off recently to make it more modern? */
  /* material theme builder, source color C0DAF9 */
  /*border: 0.0911rem solid #c4c6d0;*/
  /* prev 0.0625rem solid rgba(0, 0, 0, 0.125) */
  border-width: 0.0911rem;
  border-style: solid;
  border-color: var(--color-border);
  background-color: var(--color-bg-primary); /* a */

  border-radius: 24px;
  /* 1em 0.28571429rem 0.25rem;
        */
}
.cards tbody td {
  display: block;
  color: var(--color-text-primary);
  /* a */
}

/* added custom card styles below */

.cards tbody tr {
  /* gives some padding around tr, in desktop */
  padding: 20px;
  /* border box shadow from fomantic ui, ui message*/
  /* 0 0 0 1px */
  /*box-shadow:
        0 0 0 0.7px rgba(34, 36, 38, 0.22) inset,
        0 0 0 0 transparent;*/
}
/* */
/* added this to make it one column and centered, it was already centered after colspans were removed */
.cards tbody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* center */
}

/* on mobile, removes border, radius, padding, and leaves a clean edgeless looks, with only a border bottom double line separator/divider between pages*/
/* mobile only size cards */
@media (max-width: 599px) {
  .dt-container .cards tbody tr {
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    /* material theme builder, source color C0DAF9 */
    /*border-bottom: 10px double #415f91;*/
    border-bottom-width: 10px;
    border-bottom-style: double;
    border-bottom-color: var(--color-divider);

    /* prev 474747 */
    /*border-bottom: 4px solid #999;*/
    /* 10px 3d3d3d 333 */
  }
  /* adds a little space at the top and bottom of the tbody in mobile */
  /*.dt-container {
        margin-top: 15px;
        margin-bottom: 15px;
      }*/
}

/* removes the first margin top of the first dt layout row, to make the dtwrapper touch the top, otherwise cant color the outer backgrown if its a margin.
  without important, mobile view gives it back top margin */
div.dt-container div.dt-layout-row:first-child {
  margin-top: 0;
}
/* mobile 
    @media (max-width: 599px) {
      div.dt-container > div.dt-layout-row:nth-child(1) > div.dt-layout-cell {
        margin-top: 0;
      }
      below targets both top and bottom rows, while above only top
      div.dt-container
        div.dt-layout-row:not(.dt-layout-table)
        div.dt-layout-cell
        > *:first-child {
        margin-top: 0;
      }
    } */

/* centers first row of dt elements instead of them being to the right */
div.dt-container > div.dt-layout-row:nth-child(1) > div.dt-layout-cell {
  justify-content: space-evenly;
}
/* if i change the 3rd child to space evenly as well, it will be bunched together in the middle instead of the ends. so giving it a margin on either side instead. */
/* for-tablet-portrait-up, because on mobile it gets right margin but not left, making it uneven */
@media (min-width: 600px) {
  div.dt-container > div.dt-layout-row:nth-child(3) > div.dt-layout-cell {
    margin-right: 10px;
    margin-left: 10px;
  }
}

/* more margin on either side of the dt container */
.dt-container {
  margin-right: 10px;
  margin-left: 10px;
}

/* on mobile, remove tr side margins, because now the dtWrapper ones suffice. used important otherwise these are overidden */
@media (max-width: 599px) {
  .cards tbody tr {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/* datatables br styles */

/* after adding a class to dt br in js, can style it to make the gap wider
  https://stackoverflow.com/questions/7614928/change-br-height-using-css/28310011#28310011
  https://stackoverflow.com/questions/1409649/how-to-change-the-height-of-a-br/1409742#1409742 */
/* prev used a class called .dtBr*/
/*br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 10px;
  }*/
/* 34% 34px 24% control the spacing with the font size. */
/* footnotes br, not in datatable tables, but in page body */
/*.pageFootnotes br {
    font-size: 5px;
  }*/
/* for dt table brs */
.dtBr {
  content: "";
  margin: 2em;
  display: block;
  font-size: 5px;
}
/*.dtBrFooter {
      font-size: 1px; 
    }*/

/* datatables column styles */

.colHeader {
  /*font-weight: bold;*/
  /* color: #0f4c75; */
  color: var(--color-header) !important;
  /* before top down was 8 by default */
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.colEng {
  text-align: left;
  direction: ltr;
  font-size: 20px;
}
/* ==========================================================================
     DataTables Buttons and Controls
     ========================================================================== */

/* from fomantic ui */
/* first one is basic button buttons, the rest are searchbuilder buttons */
.dt-container > div > div > div.dt-buttons > button.dt-button,
.dtsb-searchBuilder > div.dtsb-group > button,
.dtsb-searchBuilder > div.dtsb-titleRow > button,
.dtsb-searchBuilder
  > div.dtsb-group
  > div.dtsb-criteria
  > div.dtsb-buttonContainer
  > button,
.dtsb-searchBuilder > div.dtsb-group > div.dtsb-logicContainer,
div.dtsb-searchBuilder > div.dtsb-titleRow > button.dtsb-clearAll.dtsb-button,
div.dtsb-searchBuilder > div.dtsb-group > button.dtsb-add.dtsb-button {
  border: none;
  /* material theme builder, source color C0DAF9 */
  background: #dee3eb none;
  /* prev e0e1e2 */
  /*color: rgba(0, 0, 0, 0.6);
     */
  /*margin: 0 0.25em 0 0;
     */
  /* commenting this out makes them not stick to each other when stacked */
  /*line-height: 1em;
     */
  border-radius: 0.28571429rem;
  /* ? */
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  /*font-size: 1rem;
     */
}
/* button buttons fomantic padding for tablet size and up */
@media (min-width: 600px) {
  .dt-container > div > div > div.dt-buttons > button.dt-button {
    /* this causes buttons to get too wide, making that row overflow padding: 0.78571429em 1.5em 0.78571429em;
          */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
  }
}
/* pad just the copy button a bit more, otherwise too narrow */
.dt-container
  > div
  > div
  > div.dt-buttons
  > button.dt-button.buttons-copy.buttons-html5 {
  padding-right: 25px;
  padding-left: 25px;
}
/* adds some left margin to copy button on mobile, that the other buttons seem to have but this doesnt */
@media (max-width: 599px) {
  .dt-container
    > div
    > div
    > div.dt-buttons
    > button.dt-button.buttons-copy.buttons-html5 {
    margin-left: 3px;
  }
}
/* removes side padding of first and last pagination buttons to make them narrower */
.dt-container
  > div.dt-layout-row
  > div.dt-layout-cell.dt-layout-full
  > div.dt-inputpaging.dt-paging
  > button.dt-paging-button:nth-child(1),
.dt-container
  > div.dt-layout-row
  > div.dt-layout-cell.dt-layout-full
  > div.dt-inputpaging.dt-paging
  > button.dt-paging-button:nth-child(5) {
  padding-right: 0px;
  padding-left: 0px;
}
/* hover button buttons */
.dt-container > div > div > div.dt-buttons > button.dt-button:hover {
  /*background-color: #cacbcd;
     */
  background-image: none;
  /* otherwise doesnt remove gradient */
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  color: rgba(0, 0, 0, 0.8);
  /* cancel out default dt hover styles */
  border: none;
  /* custom colors */
  color: white;
  /* material theme builder, source color C0DAF9 */
  background-color: #286294;
  /* prev 1f6cb9 */
  /* #136296 #2185d0;
      */
}
@media (max-width: 599px) {
  /* makes search input smaller on mobile */
  div.dt-container .dt-search input {
    padding: 0;
    padding-bottom: 2.5px;
    font-size: 90%;
  }
  /* makes paginginput total page number smaller on mobile */
  div.dt-container > div > div > div.dt-inputpaging.dt-paging > div > span {
    font-size: 80%;
  }
  /* removes margin space between rows of dt elements on mobile */
  /*div.dt-container div.dt-layout-row:not(.dt-layout-table) div.dt-layout-cell > * {
          margin: 0;
     }
     */
  /* more of that, especially around the table */
  div.dt-container div.dt-layout-row {
    margin: 0;
  }
  /* searchbuilders value box on mobile is moved to the left, into the and range, removing its right margin seems to bring it back where it should be */
  div.dtsb-searchBuilder
    div.dtsb-group
    div.dtsb-criteria
    div.dtsb-inputCont
    select {
    margin-right: 0;
  }
}
/* pagination buttons - although this cant be seen, it must be set otherwise hover makes an abrupt visual shift */
.dt-container > div > div > div.dt-inputpaging.dt-paging > button {
  border: none;
  border-radius: 0.28571429rem;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
}
/* pagination buttons hover */
.dt-container > div > div > div.dt-inputpaging.dt-paging > button:hover {
  background-image: none;
  /* otherwise doesnt remove gradient */
  /* cancel out default dt hover styles */
  border: none;
  /* custom colors */
  color: white;
  /* material theme builder, source color C0DAF9 */
  background-color: #286294;
  /* prev 1f6cb9 */
  /* #136296 #2185d0;
      */
}
/* ==========================================================================
     DataTables Typography - Font
     ========================================================================== */
/* paging buttons, search box, functional buttons, searchpanes column title, searchpanes clear button searchbuilder buttons searchbuilder dropdowns, */
.dt-paging-button,
.dt-input,
.dt-button,
.dtsp-search,
.dtsp-clearAll,
.dtsb-button,
.dtsb-dropDown {
  font-family: "mergedFont", "Arial", sans-serif, "faruma";
  -webkit-font-smoothing: antialiased;
  text-align: right;
  direction: rtl;
  font-size: 90%;
  /* 100%;
      */
}
/* font size on dt buttons, as above font size doesnt work without span */
.dt-button span {
  font-size: 100%;
  /* 120%;
      */
}
/* avoids oversized buttons overflowing to next row on mobile for-phone-only */
/*@media (max-width: 599px) {
      .dt-button span {
          font-size: 100%;
     }
  }
  */
