/* ==================== DARKER OUTER WRAPPER, LIGHER INNER WRAPPER ==================== */

/* making the body background color different like in hassaans, but only on tablet and above, not mobile, otherwise hiding navbar on mobile shows the differently colored body from the wrapper */
@media (min-width: 600px) {
  body {
    /* outer color */
    /* material theme builder, source color C0DAF9 */
    background-color: #e7edf6;
    /*  prev f2f2f5 main bg-llight */
    /* styles of hassaan */
  }
}
.dtWrapper {
  /* inner color */
  /* material theme builder, source color C0DAF9 
  background-color: #f7f9ff */
  background-color: #fff;
  /* prev  f7f9ff */
}
/* removes the first margin top of the first dt layout row, to make the dtwrapper touch the top, otherwise cant color the outer backgrown if its a margin.
without important, mobile view gives it back top margin */
div.dt-container div.dt-layout-row:first-child {
  margin-top: 0;
}
/* mobile 
@media (max-width: 599px) {
  div.dt-container > div.dt-layout-row:nth-child(1) > div.dt-layout-cell {
    margin-top: 0;
  }
  below targets both top and bottom rows, while above only top
  div.dt-container
    div.dt-layout-row:not(.dt-layout-table)
    div.dt-layout-cell
    > *:first-child {
    margin-top: 0;
  }
} */
/* instead of a margin, gives it a padding top and colors that */
.dtWrapper {
  padding-top: 0.75em;
}
/* for mobile
@media (max-width: 599px) {
  .dtWrapper {
    padding-top: 0.75em;
  }
}  */

/* centers first row of dt elements instead of them being to the right */
div.dt-container > div.dt-layout-row:nth-child(1) > div.dt-layout-cell {
  justify-content: space-evenly;
}
/* if i change the 3rd child to space evenly as well, it will be bunched together in the middle instead of the ends. so giving it a margin on either side instead. */
/* for-tablet-portrait-up, because on mobile it gets right margin but not left, making it uneven */
@media (min-width: 600px) {
  div.dt-container > div.dt-layout-row:nth-child(3) > div.dt-layout-cell {
    margin-right: 10px;
    margin-left: 10px;
  }
}

/* more margin on either side of the dt container */
.dt-container {
  margin-right: 10px;
  margin-left: 10px;
}

/* on mobile, remove tr side margins, because now the dtWrapper ones suffice. used important otherwise these are overidden */
@media (max-width: 599px) {
  .cards tbody tr {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.warning-box {
  background: #fff3cd;
  /* border-left: 4px solid #ffc107; for LTR */
  border-right: 4px solid #ffc107;
  /* padding: 1rem; */
  padding: 0.1rem 1rem;
  border-radius: 4px;
  /* margin-top: 2rem; */
}

/* ==================== HTML BOILER PLATE - Base styles: opinionated defaults ==================== */
/* https://www.cleancss.com/css-beautify/
https://github.com/h5bp/html5-boilerplate updated with hassaan's css */
html {
  font-size: 22px;
  /* 1em */
  /*line-height: 1.8;
   */
  /* 1.4 now in body */
  /* added */
  -webkit-text-size-adjust: 100%;
}
/* Customize the background color to match your design */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* A better looking default horizontal rule IS IT NEEDED !!! */
hr {
  display: block;
  height: 1px;
  /*border: 0;
    border-top: 1px solid #ccc;
   */
  /*margin: 1em 0;*/
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 0;
  /* added */
  border: none;
  /* material theme builder, source color C0DAF9 */
  border-bottom: 2px solid #c2c7cf;
  /* prev d3d3d3 */
}
/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */
/*audio, canvas, iframe, svg, video*/
img {
  vertical-align: middle;
}
/* fieldset styles, textarea resize */

/* ==================== HTML BOILER PLATE - Helper classes ==================== */
/* Hide visually and from screen readers */
.hidden,
[hidden] {
  display: none !important;
}
/* Hide visually and from screen readers, but maintain layout */
.invisible {
  visibility: hidden;
}
/* clearfix, media queries, print styles */

/* ==================== OTHER MAIN CSS ==================== */
html {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
  scroll-behavior: smooth;
  /* https://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page */
  overflow-y: scroll;
  /* Allow long words to be able to break and wrap onto the next line. Prevents long url addresses from breaking page content when it doesnt fit the width. use this instead of text-wrap or break-word where it is needed. */
  /* overflow-wrap: anywhere;
    */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-wrap */
  text-wrap: pretty;
  /* pretty balance */
}
/* resets body and centers container */
/* some body code from https://github.com/sindresorhus/github-markdown-css/blob/main/index.html */
body {
  margin: 0;
  padding: 0;
  /* */
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
  color: #0a0a0a;
}
/* add an animated underline on hover to a link */
a {
  color: #0065cc;
  text-decoration: none;
  position: relative;
}
a::after {
  background-color: #0065cc;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -2px;
  /* -2px */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  /* this makes sure it is on top of other elements that might come after it */
  z-index: 5;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* added remove link hover underline from things like img */
a.noLineA::after {
  background: none;
}
h3 {
  font-size: 23px;
  margin-top: 1.65em; /* 1.5, 2 */
  /*margin-top: 1em;
   */
  margin-bottom: 1em;
}
h2 {
  margin-top: 1.75em;
  font-size: 28px;
}

.hmvLogo {
  /*width: 200px;
  height: 200px;*/
  width: 150px;
  height: 150px;
  /*transition: transform 0.3s ease-in-out;*/
  transition: transform 0.25s ease-out;
  margin-bottom: 0.8em;
}
.hmvLogo:hover {
  transform: scale(1.15);
}

.basmala {
  /*padding-bottom: 10px !important;*/
  font-size: 25px !important;
}

/* after adding a class to dt br in js, can style it to make the gap wider
https://stackoverflow.com/questions/7614928/change-br-height-using-css/28310011#28310011
https://stackoverflow.com/questions/1409649/how-to-change-the-height-of-a-br/1409742#1409742 */
/* prev used a class called .dtBr*/
/*br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 10px;
}*/
/* 34% 34px 24% control the spacing with the font size. */
/* footnotes br, not in datatable tables, but in page body */
/*.pageFootnotes br {
  font-size: 5px;
}*/
/* for dt table brs */
.dtBr {
  content: "";
  margin: 2em;
  display: block;
  font-size: 5px;
}
/*.dtBrFooter {
  font-size: 1px; 
}*/
/* */
.dtWrapper {
  /*max-width: 1080px;
    */
  /* 800px, Adjust the maximum width as needed */
  margin: 0 auto;
  min-width: 200px;
  max-width: 980px;
  /* */
}
.hmvSection {
  padding: 3em 5em;
  text-align: right;
  /* center */
  direction: rtl;
  /* */
  padding-top: 0;
}
@media (max-width: 599px) {
  .hmvSection {
    padding: 1em;
    margin: 0 0 2em;
  }
}

/* only for MOBILE size - removes top margin */
@media (max-width: 599px) {
  .rmvTopMarginOnMobile {
    margin-top: 0;
  }
}

/* HELPER CLASSES */
.justifiedText {
  text-align: justify;
  /*direction: rtl;
   */
}

.centerAlignedText {
  text-align: center;
  /*direction: rtl;
   */
}

.rightAlignedText {
  text-align: right;
}

.leftAlignedText {
  text-align: left;
}

.ltrText {
  direction: ltr;
}

.rtlText {
  direction: rtl;
}

.colHeader {
  /*font-weight: bold;*/
  color: #0f4c75; /* !important;*/
  /* before top down was 8 by default */
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.colEng {
  text-align: left;
  direction: ltr;
  font-size: 20px;
}

/* page footnotes, styles from hassaan's .post-copyright, and some from .twitter-tweet  */
.pageFootnotes {
  /*padding: 10px;*/ /* padding: 0.2em 2em 0.2em 3em; */
  padding: 0 2em 1em 3em; /* .twitter-tweet */
  /* material theme builder, source color C0DAF9 
  background-color: #f0f4f9; */
  background-color: #f6f6f6;
  /* prev e7edf6, hsla(0, 0%, 71%, 0.1) 136296 */
  /* prev c2c7cf 999 235580 .twitter-tweet */
  border: 1px solid #e1e1e1;
  /* material theme builder, source color C0DAF9 
  border-right: 4px solid #c2c7cf; */
  border-right: 4px solid #8c9199;
  /*margin-top: 3em;*/
  /* added */
  font-size: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
  /*margin-right: 1em;*/
  color: #555;
}

.pageFootnotes p {
  margin-top: 0;
  margin-bottom: 0;
}

/* adds line above footnote, In order for the new lines to work properly, you also need to set the white-space property to either pre or pre-wrap. however this isnt selectable or copyable, so added it in the html itself . */
/*.pageFootnotes::before {
  content: "_________\a";
  white-space: pre;
}*/

/* CUSTOM STYLES */
.customButtons {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  /*margin-bottom: 0.333em;
   */
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 0.88em;
  line-height: 1.6em;
  color: inherit;
  user-select: none;
  text-decoration: none;
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "mergedFont", "Arial", sans-serif, "faruma";
  -webkit-font-smoothing: antialiased;
  text-align: right;
  direction: rtl;
  /* */
  /*padding-right: 25px;
    padding-left: 25px;
   */
  border: none;
  /* material theme builder, source color C0DAF9 */
  background: #dee3eb none;
  /* prev e0e1e2 */
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  /* added */
  margin: 5px;
  transition: transform 0.2s ease-out;
}
.customButtons:hover {
  color: white;
  /* material theme builder, source color C0DAF9 */
  background-color: #286294;
  /* prev 1f6cb9 */
  transform: scale(1.15);
}
/* RESPONSIVE SEARCH BAR CODE */
/* END OF RESPONSIVE SEARCH BAR CODE */
/* */
/* @mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
   }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
   }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
   }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
   }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
   }
}
*/
/* */

/* ==================== ORIGINAL DT CARDS CSS ==================== */
/* card styles
https://datatables.net/forums/discussion/comment/228301/#Comment_228301 */
.cards tbody tr {
  /* float: left;
    removing this used to center, now using flexbox instead */
  /*width: 20rem;
    this narrows the columns too much*/
  /*box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
   */
  margin: 0.5rem;
  /* turned these below off recently to make it more modern? */
  /* material theme builder, source color C0DAF9 */
  border: 0.0911rem solid #c4c6d0;
  /* prev 0.0625rem solid rgba(0, 0, 0, 0.125) */

  border-radius: 24px;
  /* 1em 0.28571429rem 0.25rem;
    */
}
.cards tbody td {
  display: block;
}

/* ==================== ADDED CARDS CODE ==================== */

.cards tbody tr {
  /* gives some padding around tr, in desktop */
  padding: 20px;
  /* border box shadow from fomantic ui, ui message*/
  /* 0 0 0 1px */
  /*box-shadow:
    0 0 0 0.7px rgba(34, 36, 38, 0.22) inset,
    0 0 0 0 transparent;*/
}
/* */
/* added this to make it one column and centered, it was already centered after colspans were removed */
.cards tbody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* center */
}

/* on mobile, removes border, radius, padding, and leaves a clean edgeless looks, with only a border bottom double line separator/divider between pages*/
/* mobile only size */
@media (max-width: 599px) {
  .dt-container .cards tbody tr {
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    padding-bottom: 20px;
    /* material theme builder, source color C0DAF9 */
    border-bottom: 10px double #415f91;
    /* prev 474747 */
    /*border-bottom: 4px solid #999;*/
    /* 10px 3d3d3d 333 */
  }
  /* adds a little space at the top and bottom of the tbody in mobile */
  /*.dt-container {
    margin-top: 15px;
    margin-bottom: 15px;
  }*/
}

/* ==================== DT CUSTOM CSS ==================== */
/* removes space at the top and bottom of the first and last tr of the table*/
.cards tbody tr:first-child {
  margin-top: 0;
}
.cards tbody tr:last-child {
  margin-bottom: 0;
}
/* mark js highlight color */
mark {
  background: #82b8fa;
  /*color: black;*/
}
/*prev background: #b3d4fc */
/*table.dataTable span.highlight {
  background-color: #82b8fa;
  border-radius: 0.28571429rem;
}*/ /* ffff88 */

/*table.dataTable span.column_highlight {
    background-color: #ffcc99;
    border-radius: 0.28571429rem;
}
*/
/* hide first searchbar on tablet and up */
@media (min-width: 600px) {
  .dt-search:has(#dt-search-0) {
    display: none;
  }
}
/* reverse of that, hide second searchbar on mobile */
@media (max-width: 599px) {
  .dt-search:has(#dt-search-1) {
    display: none;
  }
}

/* removes th table header above columns, for card view */
thead {
  display: none;
}
/* removes colgroup cols except the first one, for card view */
.dt-container > colgroup > col:not(:nth-child(0)) {
  display: none;
}
/* aligns row of elements to top rather than center, like buttons etc */
/*div.dt-container div.dt-layout-row div.dt-layout-cell {
    align-items: center;
}
*/
/* above moves paging info up too, so this moves it back to middle */
/*div.dt-container div.dt-layout-row:nth-child(3) div.dt-layout-cell.dt-layout-full {
    align-items: center;
}
*/
/* jump to row select color */
/*tr.selected*/
.dataTable > tbody > tr.selected {
  --dt-row-selected: initial;
  --dt-row-selected-text: initial;
  /* material theme builder, source color C0DAF9 */
  border-top: 5px solid #235580;
  border-bottom: 5px solid #235580;
  /* prev 136296 */
}
/* ensure search bar doesnt overflow the width on mobile */
div.dt-container .dt-input,
div.dt-container .dt-search input {
  width: 307px;
  max-width: 90vw;
  /* indent the text in the search a little, otherwise character cuts off */
  text-indent: 7px;
  /* makes its bg color not see thru */
  background-color: #fff;
}
/* makes the inputpaging box bigger */
.dt-container
  > div
  > div
  > .dt-inputpaging.dt-paging
  > .dt-paging-input
  > input {
  /*width: 110%;
   */
  font-size: 80%;
  /* 80 */
  /* fixes width, so doesnt jump around when numbers increase in no of digits */
  width: 65px !important; /* 50 for mobile? */
}
/* mobile only size */
/*@media (max-width: 599px) {
  .dt-container
    > div
    > div
    > div.dt-inputpaging.dt-paging
    > div
    > input[type="search"] {
    font-size: 80%;
    width: 50px !important;
  }
}*/
/* make font size of / [total pages] smaller*/
.dt-container
  > div
  > div
  > div.dt-inputpaging.dt-paging
  > div.dt-paging-input
  > span {
  font-size: 90%;
  /* 70*/
}
/* sets font for searchbox placeholder */
.dt-container
  > div
  > div
  > div.dt-inputpaging.dt-paging
  > div
  > input[type="search"]::placeholder {
  font-family: "mergedFont", "Arial", sans-serif, "faruma";
  text-indent: 5px;
  font-size: 90%;
}
/* right to left https://datatables.net/examples/i18n/rtl.html some other elements do need to be set back to ltr though */
.dt-container {
  direction: rtl;
}
/* remove thin border lines above and below rows of td (or rather, last td?) not enough to just remove "display" class from table */
/* #example > tbody > tr > td */
/* 
div.dt-container.dt-empty-footer tbody > tr:last-child > * { */
div.dt-container.dt-empty-footer tbody > tr:last-child > td {
  border: none;
}
/* ensures pagination buttons dont overflow into the next row on mobile */
div.dt-container > div > div > div.dt-inputpaging.dt-paging {
  white-space: nowrap;
}
/* lessens the gap between colvis menu list, as well as pagelength button (mobile) and makes text a littler smaller */
/* .buttons-columnVisibility
 .button-page-length
 .buttons-colvisRestore */
.dt-container > div > div > div.dt-buttons > div > div > .dt-button {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 90%;
}
/* brings the tick marks in colvis closer to center */
div.dt-button-collection > div > button.dt-button-active::after {
  top: 30%;
}
/* same for pagelength button (mobile) 
actually top covers that too
div.dt-button-collection .dt-button-active:after {
  top: 23%;
} */
/* on mobile, where collection buttons are, lessens font size, centers the dropdown */
.dt-container
  > div
  > div
  > div.dt-buttons
  > div.dt-button-collection
  > div
  > button.dt-button {
  font-size: 90%;
  /*text-align: right;*/
  /*padding-right: 30px;*/
}
/* moves text span to right aligned, instead of left, also gives it some spacing from the right */
.dt-container
  > div
  > div
  > div.dt-buttons
  > div.dt-button-collection
  > div
  > button.dt-button {
  text-align: right;
  padding-right: 30px;
}
/* gives more right side padding where ticks are, in colvis and pagelength dropdown */

.dt-container
  > div
  > div
  > div.dt-buttons
  > div.dt-button-collection
  > div
  > button.dt-button.buttons-columnVisibility,
.dt-container
  > div
  > div
  > div.dt-buttons
  > div.dt-button-collection
  > div
  > button.dt-button.button-page-length {
  padding-right: 50px;
}
/* sets color of colvis list items on hover
div.dt-button-collection .dt-button:hover:not(.disabled) */
div.dt-button-collection > div > button.dt-button:hover:not(.disabled) {
  color: white;
  /* material theme builder, source color C0DAF9 */
  background-color: #286294;
  /* prev 195faa */
}
/* since we turned off the colors for select in the regular dt table, its invisible on the selected searchpanes data too, this makes it show again on searchpanes */
div.dt-scroll > div.dt-scroll-body > table.dataTable > tbody > tr.selected {
  color: white;
  /* material theme builder, source color C0DAF9 */
  background-color: #286294;
  /* prev 195faa */
}
/* lowers the number pill box in searchpanes a little bit, needed to change static position to do it */
div.dt-scroll
  > div.dt-scroll-body
  > table.dataTable
  > tbody
  > tr
  > td
  > div
  > span.dtsp-pill {
  position: relative;
  top: 1.5px;
}
/* gets rid of dt background in searchpanes and searchbuilder with css, which cant be removed in config */
div.dt-layout-cell.dt-layout-full > div.dt-button-background {
  background: none;
  /* hidden interferes with reopening searchpanes and builder */
  /*visibility: hidden;
   */
  /*display: none !important;
   */
  /*position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    background: radial-gradient( ellipse farthest-corner at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100% );
    z-index: 2001;
   */
}
/* makes search pane list content right aligned instead of left */
div.dt-scroll-body
  > table.dataTable
  > tbody
  > tr
  > td.dtsp-nameColumn
  > div.dtsp-nameCont
  > span.dtsp-name {
  text-align: right;
}
/* makes the value dropdown box of searchbuild, right aligned instead of left */
.dtsb-inputCont {
  text-align: right;
}
/* indents the searchbuilder data and condition dropdowns a little, followed by value */
.dtsb-searchBuilder > div.dtsb-group > div.dtsb-criteria > select.dtsb-dropDown,
.dtsb-searchBuilder
  > div.dtsb-group
  > div.dtsb-criteria
  > div.dtsb-inputCont
  > select {
  text-indent: 7px;
}
/* rotates the AND button of searchbuilder to match rtl */
.dtsb-searchBuilder
  > div.dtsb-group
  > div.dtsb-logicContainer
  > button.dtsb-logic.dtsb-button
  > div {
  transform: rotate(-180deg);
}
/* makes copy alert number of rows copied, rtl */
#datatables_buttons_info > div {
  direction: rtl;
}
/* changes the clear filters button to match the others, but only when not in disabled state */
.dtsp-panesContainer
  > div.dtsp-titleRow
  > button.dtsp-clearAll:not(.dtsp-disabledButton) {
  border: none;
  background: #e0e1e2 none;
  border-radius: 0.28571429rem;
  /* ? */
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
}
/* customizes the keytables focus box */
table.dataTable tbody td.focus {
  /* material theme builder, source color C0DAF9 */
  outline: 2.5px solid #235580; /* actually, this was selected by :root, but its derived value was 
    rgb(51, 122, 183)
  /* prev 337ab7 */
  outline-offset: -2px;
  border-radius: 0.28571429rem;
  /* 5px;
    */
}
/* makes the pagelength dropdown selecter rounder like the others */
#dt-length-0,
#dt-search-0 {
  border-radius: 0.28571429rem;
  -webkit-border-radius: 0.28571429rem;
  -moz-border-radius: 0.28571429rem;
}
/* same for paginginput box, but setting border radius makes it thicker for some reason, so need to thin the border width here as well, and color it less dark */
.dt-inputpaging.dt-paging > div > input[type="search"] {
  border-radius: 0.28571429rem;
  -webkit-border-radius: 0.28571429rem;
  -moz-border-radius: 0.28571429rem;
  /**/
  border-width: 1px;
  border-color: #aaa;
}
/* puts some margins to left and right of full dt rows, otherwise is basically touching the outside of the page as is
.dt-container > div.dt-layout-row > div.dt-layout-cell.dt-layout-full {
  margin-left: 10px;
  margin-right: 10px;
} */
/* commented out right otherwise  all of it is moved from the right for some reason */

/* */
/* ==================== DT BUTTONS CSS ==================== */
/* from fomantic ui */
/* first one is basic button buttons, the rest are searchbuilder buttons */
.dt-container > div > div > div.dt-buttons > button.dt-button,
.dtsb-searchBuilder > div.dtsb-group > button,
.dtsb-searchBuilder > div.dtsb-titleRow > button,
.dtsb-searchBuilder
  > div.dtsb-group
  > div.dtsb-criteria
  > div.dtsb-buttonContainer
  > button,
.dtsb-searchBuilder > div.dtsb-group > div.dtsb-logicContainer,
div.dtsb-searchBuilder > div.dtsb-titleRow > button.dtsb-clearAll.dtsb-button,
div.dtsb-searchBuilder > div.dtsb-group > button.dtsb-add.dtsb-button {
  border: none;
  /* material theme builder, source color C0DAF9 */
  background: #dee3eb none;
  /* prev e0e1e2 */
  /*color: rgba(0, 0, 0, 0.6);
   */
  /*margin: 0 0.25em 0 0;
   */
  /* commenting this out makes them not stick to each other when stacked */
  /*line-height: 1em;
   */
  border-radius: 0.28571429rem;
  /* ? */
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
  /*font-size: 1rem;
   */
}
/* button buttons fomantic padding for tablet size and up */
@media (min-width: 600px) {
  .dt-container > div > div > div.dt-buttons > button.dt-button {
    /* this causes buttons to get too wide, making that row overflow padding: 0.78571429em 1.5em 0.78571429em;
        */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
  }
}
/* pad just the copy button a bit more, otherwise too narrow */
.dt-container
  > div
  > div
  > div.dt-buttons
  > button.dt-button.buttons-copy.buttons-html5 {
  padding-right: 25px;
  padding-left: 25px;
}
/* adds some left margin to copy button on mobile, that the other buttons seem to have but this doesnt */
@media (max-width: 599px) {
  .dt-container
    > div
    > div
    > div.dt-buttons
    > button.dt-button.buttons-copy.buttons-html5 {
    margin-left: 3px;
  }
}
/* removes side padding of first and last pagination buttons to make them narrower */
.dt-container
  > div.dt-layout-row
  > div.dt-layout-cell.dt-layout-full
  > div.dt-inputpaging.dt-paging
  > button.dt-paging-button:nth-child(1),
.dt-container
  > div.dt-layout-row
  > div.dt-layout-cell.dt-layout-full
  > div.dt-inputpaging.dt-paging
  > button.dt-paging-button:nth-child(5) {
  padding-right: 0px;
  padding-left: 0px;
}
/* hover button buttons */
.dt-container > div > div > div.dt-buttons > button.dt-button:hover {
  /*background-color: #cacbcd;
   */
  background-image: none;
  /* otherwise doesnt remove gradient */
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  color: rgba(0, 0, 0, 0.8);
  /* cancel out default dt hover styles */
  border: none;
  /* custom colors */
  color: white;
  /* material theme builder, source color C0DAF9 */
  background-color: #286294;
  /* prev 1f6cb9 */
  /* #136296 #2185d0;
    */
}
@media (max-width: 599px) {
  /* makes search input smaller on mobile */
  div.dt-container .dt-search input {
    padding: 0;
    padding-bottom: 2.5px;
    font-size: 90%;
  }
  /* makes paginginput total page number smaller on mobile */
  div.dt-container > div > div > div.dt-inputpaging.dt-paging > div > span {
    font-size: 80%;
  }
  /* removes margin space between rows of dt elements on mobile */
  /*div.dt-container div.dt-layout-row:not(.dt-layout-table) div.dt-layout-cell > * {
        margin: 0;
   }
   */
  /* more of that, especially around the table */
  div.dt-container div.dt-layout-row {
    margin: 0;
  }
  /* searchbuilders value box on mobile is moved to the left, into the and range, removing its right margin seems to bring it back where it should be */
  div.dtsb-searchBuilder
    div.dtsb-group
    div.dtsb-criteria
    div.dtsb-inputCont
    select {
    margin-right: 0;
  }
}
/* pagination buttons - although this cant be seen, it must be set otherwise hover makes an abrupt visual shift */
.dt-container > div > div > div.dt-inputpaging.dt-paging > button {
  border: none;
  border-radius: 0.28571429rem;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    box-shadow 0.1s ease, background 0.1s ease;
}
/* pagination buttons hover */
.dt-container > div > div > div.dt-inputpaging.dt-paging > button:hover {
  background-image: none;
  /* otherwise doesnt remove gradient */
  /* cancel out default dt hover styles */
  border: none;
  /* custom colors */
  color: white;
  /* material theme builder, source color C0DAF9 */
  background-color: #286294;
  /* prev 1f6cb9 */
  /* #136296 #2185d0;
    */
}
/* ==================== FONTS CSS ==================== */
html {
  font-family: "mergedFont", "Arial", sans-serif, "faruma";
  -webkit-font-smoothing: antialiased;
  /* text-align: right;
    direction: rtl;
    */
  /*font-size: 120%;
   */
  /* for tharujamaanu */
}
/* merged font */
@font-face {
  font-family: "mergedFont";
  src: url(../font/merged-300.woff2) format("woff2"),
    url(../font/merged-300.woff) format("woff");
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display */
  font-display: block;
  /* previously swap */
}
/* ==================== DT FONTS CSS ==================== */
/* paging buttons, search box, functional buttons, searchpanes column title, searchpanes clear button searchbuilder buttons searchbuilder dropdowns, */
.dt-paging-button,
.dt-input,
.dt-button,
.dtsp-search,
.dtsp-clearAll,
.dtsb-button,
.dtsb-dropDown {
  font-family: "mergedFont", "Arial", sans-serif, "faruma";
  -webkit-font-smoothing: antialiased;
  text-align: right;
  direction: rtl;
  font-size: 90%;
  /* 100%;
    */
}
/* font size on dt buttons, as above font size doesnt work without span */
.dt-button span {
  font-size: 100%;
  /* 120%;
    */
}
/* avoids oversized buttons overflowing to next row on mobile for-phone-only */
/*@media (max-width: 599px) {
    .dt-button span {
        font-size: 100%;
   }
}
*/
/* */
