/*
Starting with / returns to the root directory and starts there
Starting with ../ moves one directory backward and starts there
Starting with ../../ moves two directories backward and starts there (and so on...)
To move forward, just start with the first sub directory and keep moving forward.

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
*/

html {
  scroll-behavior: smooth;
}

/* https://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page */
html {
  overflow-y: scroll;
}

/* ====================
   BOILERPLATE 8.0.0 CODE - from normalize 8.0.1 and main css
======================= */

html {
  /* main */

  /* color: #222; */

  /* font-size: 1em;
  line-height: 1.4; 

  /* do i need this?? */

  /* normalize */

  /* line-height: 1.15; */

  /* -webkit-text-size-adjust: 100%; */
}

/* Remove the margin in all browsers. - normalize */

body {
  /* margin: 0; */
}

/* evens out and better colors text highlights - main */

/* Remove text-shadow in selection highlight. Customize the background color to match your design. */

/* ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
} */

/* ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
} */

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers  - main */

/*
img {
  vertical-align: middle;

   do i need this??? 
} */

/* normalize */

/* 1. Change the font styles in all browsers. 2. Remove the margin in Firefox and Safari. */

/*
button,
input,
select { */

/* font-family: inherit; */

/* 1 */

/* font-size: 100%; */

/* 1 */

/* makes input font as well as input box bigger, maybe more even */

/* line-height: 1.15; */

/* 1 */

/* margin: 0; */

/* 2 */

/* } */

/* Correct the inability to style clickable types in iOS and Safari. */

/* button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
} */

/* 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari.
from what i see makes them smaller */

/* [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
} */

/* Remove the inner padding in Chrome and Safari on macOS. */

/* [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
} */

/* ====================
     scroll bar
======================= */

/* remember to change these in minimal mod css too
new code but may not be yet fully supported hence webkits
html,
body {
  scrollbar-color: dark;
  scrollbar-width: thin;
*/

/* Desktop only MQ */
@media screen and (min-width: 900px) {
  /* Works on Firefox */
  * {
    scrollbar-width: thin;

    /* scrollbar-color: dark; */
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    /* the track (progress bar) of the scrollbar. */

    background: #f1f1f1;

    /* outer */
  }

  *::-webkit-scrollbar-thumb {
    /* the draggable scrolling handle. */

    /* inner */
    background-color: #c1c1c1;

    /* border-radius: 20px; */

    /* border-width: 3px; */

    /* do i need? */
    border-style: solid;
    border-color: #f1f1f1;

    /* outer */
  }
}

/* ====================
     Slide In Animation
======================= */

.w3-animate-right {
  /* position: relative; */

  /*
    animation: animateRight 0.4s; original code of below */

  /*
    -webkit-animation: animateRight 0.5s ease-in-out;
    -moz-animation:    animateRight 0.5s ease-in-out;
    -o-animation:      animateRight 0.5s ease-in-out;
    animation:         animateRight 0.5s ease-in-out;
    */

  /*
@keyframes animateRight {
    0% {
        right: -300px;
        opacity: 0
    }
    100% {
        right: 0;
        opacity: 1
    }
}
ORIGINAL CODE above */

  /* second attempt
  }
  @keyframes animateRight {
    0%   { right: -300px; opacity: 0 }
    100% { right: 0; opacity: 1 }
  }

  smooth as butter animation below
  also browser supports

@-webkit-keyframes animateRight {
    0%   { right: -300px; opacity: 0 }
    100% { right: 0; opacity: 1 }
  }
  @-moz-keyframes animateRight {
    0%   { right: -300px; opacity: 0 }
    100% { right: 0; opacity: 1 }
  }
  @-o-keyframes animateRight {
    0%   { right: -300px; opacity: 0 }
    100% { right: 0; opacity: 1 }
  }
  removed opacity, right, added will-change and ease
  */

  /*
  animation-name: SlideIn;
  -webkit-animation-name: SlideIn;
  animation-duration: 400ms;
  -webkit-animation-duration: 400ms;
  will-change: transform;
*/

  /* gpu */

  /*
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
*/

  /* smooth */
}

/* @keyframes SlideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: none;
  }
}

@-webkit-keyframes SlideIn {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: none;
  }
} */

/* ====================
     DT wrapper CSS
======================= */

/* takes care of most of the table fonts */
.dataTables_wrapper,
/* search and input page */
input,
/* page lengthmenu */
select,
/* clipboard message */
button,
.dt-button-info,
/* for mmenu light nav menu drawer */
li,
/* for mmenu light nav horizontal bar */
.header,
/* for mmenu light nav horizontal bar */
.mm-spn.mm-spn--navbar::after {
  font-family: dvFont, arFont, Quicksand, sans-serif, faruma;

  /* CHANGE123 FONT
              text-align: justify;
              font-size: 100%;
              -ms-text-size-adjust: 100%;
              -webkit-text-size-adjust: 100%;
              color: #24292e;
              line-height: 1.5;
              word-wrap: break-word;
    */

  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem; */

  /* test */
}

/* makes table rtl */

div.dataTables_wrapper {
  direction: rtl;
}

/* gives space around table wrapper in desktop view, and then centers */
.dataTables_wrapper.no-footer {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;

  /* padding-right: 5% !important;
        padding-left: 5% !important; */

  /* width: 25px !important; */
}

/* ====================
     dt buttons?
======================= */

/* colvis button, ACTUALLY all buttons? */
button.dt-button {
  /* background-color: #45494e; */
  color: #0e1621 !important;

  /* border: 1px solid rgba(255, 255, 255, 0.147); */
  border-radius: 10px !important;
  border: 1px solid rgb(255 255 255 / 14.7%) !important;
  background: #d8d8d8 !important; /* #d8d8d8 */

  /* font-weight: bold; */
}

/* removes the space after the down arrow in the colvis button */

.dataTables_wrapper
  > div
  > div
  > button.dt-button.buttons-collection.buttons-colvis
  > span.dt-down-arrow {
  padding: 0;
}

/* hover buttons */

button.dt-button:hover:not(.disabled) {
  background-color: #136296 !important;
  border: 1px solid rgb(255 255 255 / 84.7%) !important;
  color: #fff !important;
}

/* colvis menu active */

button.dt-button.active {
  background: #136296 !important;
  color: #fff !important;
}

button,
input,
select {
  border: 1px solid #aaa;
  border-radius: 3px;

  /* padding: 5px; */
  background-color: transparent;
}

/* make cancel button for input, only works on webkit chrome and stuff. should i get more browser support???
The ::-webkit-search-cancel-button CSS pseudo-element represents a button (the "cancel button") at the edge of an <input> of type="search" which clears away the current value of the <input> element. */

input[type="search"]::-webkit-search-cancel-button {
  /* adds x delete placeholder */
  appearance: searchfield-cancel-button;
  border: 4px solid transparent;

  /* makes x a bit bigger */

  /* margin-right: -25px; makes x icon not interfere with centering search text, but text goes over the icon then */
}

/* make pagination placeholder a bit shorter and the text centered,
a little off to the right because of the search cancel button */

.paging_input input[type="search"] {
  width: 70px;

  /* text-align: center; */
}

/* makes copy button the same width as colvis, 81.918 + 14.080 + 14.080 */

button.dt-button.buttons-copy.buttons-html5 {
  width: 110.078px;
}

/* makes select list as tall in height as search box */

.dataTables_length > label > select {
  height: 31px;
}

/* on mobile, the top paginations buttons are given padding below, to be equal to
the padding above 
.mTop2 {
  padding-bottom: 12px;
} */

/* desktop mq lessens padding in pagination buttons based on screen width, default was 16px,  resposive and flexible */

@media screen and (min-width: 900px) {
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}

/* movile mq, lessens padding in pagination buttons based on screen width, resposive and flexible */

@media screen and (max-width: 900px) {
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    width: 15vw;
    max-width: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}

/* mobile mq add space at the bottom of table before last pagination row */

@media screen and (max-width: 900px) {
  .table {
    padding-bottom: 15px;
  }
}

/* mobile mq removes margin above pagination buttons input */

@media screen and (max-width: 900px) {
  div.dataTables_paginate.paging_input {
    margin-top: 0;
  }
}

/* mobile mq remove bottom border */

@media screen and (max-width: 900px) {
  table.dataTable.no-footer {
    border-bottom: none;
  }
}

/* make search placeholder text centered,
a little off to the right because of the search cancel button 
.dataTables_filter > label > input[type=search] {
  text-align: center; */

/*  desktop mq 
together the following four make the search input fill up the width of the container around it, responsive and flexible
removing this section of code makes the flex row distribute items evenly again
changed  (min-width: 900px) to 600 to include tablets */

@media screen and (min-width: 600px) {
  .buttons-colvis {
    /* puts a little space after colvis button, otherwise hits search box */
    margin-left: 20px;
  }

  .dataTables_filter > label > input[type="search"] {
    width: 100%;
    max-width: 300px;
  }

  .dataTables_filter {
    flex-grow: 4;
  }

  .dataTables_length {
    /* puts a little space after search box, otherwise hits select list */
    margin-right: 20px;
  }

  /* puts a little space before the search box, otherwise colvis touches it */
  .dataTables_filter > label > input[type="search"] {
    margin-right: 8px;
  }
}

/* if i want to change the box heights later,
38 next button
36.063 copy button
27 pagination input 
27 search input
29 select input 
*/

/* end of above code */

/* adds a little space to the left of pagination input box, because the other
   buttons have the same space */

.dataTables_paginate > input {
  margin-left: 2px;
}

/* makes pagination buttons stand out bold on mobile only mq */

@media screen and (max-width: 900px) {
  .paginate_button {
    font-weight: bold;
    font-size: 18px;
  }
}

/* removes default ugly black color from pagination css buttons
CURRENTLY BROKEN - FIX LATER 123 
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  color: #1e1e1e !important;  change the text color on hover 
  border: 1px solid #1e1e1e;  can change the box color */

/* border-radius: 5px; a little rounder */
a.dt-button,
button.dt-button,
div.dt-button,
input.dt-button {
  border-radius: 3px;
}

/* below block of css for change pagination buttom style when active */

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: none;
  color: #1e1e1e !important;
  box-shadow: none;

  /* removes shading on press down */
}

/* changes pagination button hover color */
.paginate_button:hover {
  background: #136296 !important;
}

/* changes disabled > < color */
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  color: #b2b2b2 !important;
}

/* lets pagination buttons increase in width a little, see on mobile */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  max-width: none !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

/* ====================
   DT Column CSS
======================= */

/* Alignscell contents vertically */

table.dataTable tbody td {
  vertical-align: top;
}

/* table data rows alignment */

.dataTable > tbody > tr > td {
  text-align: justify;

  /* word-spacing: -10px; */
  font-size: 100%;

  /* -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; */
  color: #24292e;
  line-height: 1.5;
  word-wrap: break-word;
}

/* table header row alignment */

.dataTable > thead > tr > th {
  font-size: 100%;
  text-align: center;

  /* color: #205ca5; */

  /* -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; */
  line-height: 1.5;
  word-wrap: break-word;
}

/* ====================
         DT plugins CSS
======================= */

/* moves copied info in front - is this still needed??? test with colvis
div.dt-button-info {
  z-index: 9999 !important;
} */

#datatables_buttons_info {
  /* border: 1px solid #111; old */
  border-style: solid;
  border-width: 1px;

  /* border-color: #dadce0; */

  /* #00000020 */
  border-radius: 5px;

  /* makes cards a little rounder, used to be 4 */

  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 20%);

  /* box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24); */
}

/* @media (prefers-color-scheme: light) {
  #datatables_buttons_info {
    border-top: 4.5px solid #136296;
    border-bottom: 4.5px solid #136296;
  }
} */

/* changes clipboard copied color, */

#datatables_buttons_info.dt-button-info h2 {
  background: #136296; /* add1f2 */

  /* border-radius: 5px; */

  color: #eee;

  /* border-top-left-radius: 3px;
  border-top-right-radius: 3px; */
}

/* makes clipboard copy popup centered and fits width on mobile view */

div#datatables_buttons_info.dt-button-info {
  /* fits screen on mobile, is 400 on desktop */
  width: auto;
  max-width: 350px;

  /* centers */
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;

  /* makes borders rounder */
  border-radius: 5px;

  /* border-width: 3px; */
}

/* hides table headers only on mobile, prev nth-child(2)
- Mobile only MQ
looks like we don't need this code anymore, use the hide below this */

/*
@media screen and (max-width: 900px) {
  thead tr:nth-child(1) {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
} */

/* Keytable - Desktop only MQ */

@media screen and (min-width: 900px) {
  /* table.dataTable tbody th.focus, */
  table.dataTable tbody td.focus {
    /* box-shadow: inset 0 0 1px 2px #3366ff; */
    box-shadow: inset 0 0 1px 2.5px #337ab7;

    /* last px makes box thicker */
    border-radius: 5px;

    /* makes box rounder */
  }

  /* div.dtk-focus-alt table.dataTable tbody th.focus, */
  div.dtk-focus-alt table.dataTable tbody td.focus {
    /* box-shadow: inset 0 0 1px 2px #ff8b33; */
    box-shadow: inset 0 0 1px 2.5px #337ab7;

    /* last px makes box thicker */
    border-radius: 5px;

    /* makes box rounder */
  }

  /* inset: Changes the shadow from an outer shadow (outset) to an inner shadow
next 4 numbers: offset-x | offset-y | blur-radius | spread-radius 
last is color */
}

/* Mark JS - padding: 0; removes useless padding, donno if still needed? */

mark {
  background: #add1f2;
  color: black;
  padding: 0;
}

/* ====================
       CARDS CODE
======================= */

/* provides padding aroud the carded row datas */

/* @mixin for-ABOVEphone-only */
@media (min-width: 599px) {
  table.cards.dataTable > tbody > tr > td {
    padding-right: 50px;
    padding-left: 50px;
  }

  table.cards.dataTable > tbody > tr > td:nth-child(1) {
    padding-top: 40px;
  }

  table.cards.dataTable > tbody > tr > td:nth-last-child(1) {
    padding-bottom: 45px;
  }
}

.cards tbody tr {
  /* float: left; this stacks cards side by side and orients them left, use flexbox columns code below instead */
  display: flex;
  flex-direction: column;
  margin: 0.5rem;

  /* this was taken from below so as not to override what's next */
  margin-bottom: 1.25rem;

  /* !important; */

  /* padding: 0.625rem;  added for nicer spacing */

  /* removing float removes margin below, this is to fix that, without important gets overidden */

  /* width: 190rem; without it, card fill width */

  /* these used to be gyrocode rems */

  /* margin: 0.5rem; */
  border-style: solid;
  border-width: 1px;
  border-color: #dadce0;

  /* #00000020 */
  border-radius: 5px;

  /* makes cards a little rounder, used to be 4 */
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 20%);

  /* box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.24); */

  /* box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25); old onesided card shadow */

  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.2); */

  /* The box-shadow property takes values for offset-x (how far to push the shadow horizontally from the element),
   offset-y (how far to push the shadow vertically from the element), blur-radius, spread-radius and color, in that order. */
}

/* adds top border color on light scheme */

@media (prefers-color-scheme: light) {
  .cards tbody tr {
    border-top: 5px solid #136296;
    border-bottom: 5px solid #136296;
  }
}

.cards tbody td {
  display: block;
}

/* is this needed?? */

.cards thead {
  visibility: hidden;

  /* 'Hide only visually, but have it available for screen readers':
  taken from boilerplate code, maybe this is better than the
  thead tr:nth-child(1) { position: absolute; top: -9999px; left: -9999px;
  from above, have commented out apparently useless code */

  /* border: 0; */
  clip: rect(0, 0, 0, 0);

  /* height: 1px; */

  /* margin: -1px; */

  /* overflow: hidden; */

  /* padding: 0; */
  position: absolute;

  /* white-space: nowrap; */

  /* width: 1px; */
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 1px;
}

/* DEPRECIATED- dont use this anymore
MQ on mobile, this gets rid of empty th space at right of table on mobile,
+ centers table, while 2nd bit hides table header on mobile, need either this or
  thead tr:nth-child(1) { position: absolute; top: -9999px; left: -9999px; above
    but not both
    @media screen and (max-width: 900px) {
      .dataTable {
        display: flex;
      }

      .dataTable > thead {
        display: none;
      }
    }
*/

.cards td::before {
  content: attr(data-label);
  position: relative;
  float: left;
  color: #808080;
  min-width: 4rem;
  margin-left: 0;
  margin-right: 1rem;
  text-align: left;
}

/* useless
.selected td::before {
  color: #ccc;
}
*/

/* alternates color and border in mobile table rows, which have been overriden by mobile to a same color
@media screen and (max-width: 900px) {
  .cards tbody td:nth-child(even) {
    border-style: solid;
    border-width: 1px;
    border-color: #dadce0;
    background-color: #eee;
    border-bottom-style: solid;
  }
}
*/

/* ===== cards code END ===== */

/* ====================
       DOM FLEXBOX
======================= */

/* on mobile */

.mTop {
  display: box;
  display: flex;

  /* single-direction layout concept. */
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;

  /* items are distributed so that the spacing between any two items (and the space to the edges) is equal. */
  -webkit-box-align: baseline;
  align-items: baseline;

  /* how flex items are laid out along the cross axis on the current line.
  Think of it as the justify-content version for the cross axis. -items are aligned such as their baselines align */
}

.mTop2 {
  display: box;
  display: flex;

  /* single-direction layout concept. */
  -webkit-box-pack: center;
  justify-content: center;

  /* items are centered along the line */

  /* added to make a minimum space where mTop2 is so as not to squish mTop1 and 3 together when search turns up empty */
  min-height: 14px;
}

.mTop3 {
  display: box;
  display: flex;

  /* single-direction layout concept. */
  -webkit-box-pack: center;
  justify-content: center;

  /* items are centered along the line */
}

/* Desktop only MQ */

@media screen and (min-width: 900px) {
  .dTop {
    display: box;
    display: flex;

    /* single-direction layout concept. */
    flex-wrap: wrap;

    /* flex items will wrap onto multiple lines, from top to bottom.
    By default, flex items will all try to fit onto one line */
    -webkit-box-pack: justify;
    justify-content: space-between;

    /* alignment along the main axis
    items are evenly distributed in the line; first item is on the start line, last item on the end line */
    -webkit-box-align: baseline;
    align-items: baseline;

    /* how flex items are laid out along the cross axis on the current line.
    Think of it as the justify-content version for the cross axis. -items are aligned such as their baselines align */
  }
}

/* ====================
       Hamburger
======================= */

/* moves hamburger menu span to right + little up, does not affect header placement */

.hamburg {
  font-size: 25px;
  right: 0;
  padding-right: 15px;
  margin-top: -2px;

  /* moves hamburg a little higher, similar baseline to header text */
  position: absolute;

  /* samsung unicode symbol color fix */
  color: transparent;
  text-shadow: 0 0 0 white;
}

.navLogo {
  /* font-size: 25px;
  left: 0; */

  /* margin-left: 12px;
  margin-top: -10px; */

  /* moves navLogo a little higher, similar baseline to header text */

  /* content: "";
  display: block;
  height: 40px;
  width: 40px;
  position: absolute; */

  /* background: url("../img/logo/logo.svg") no-repeat; */

  /* filter: brightness(0) invert(1); */

  /* invert(96%) sepia(56%) saturate(2%) hue-rotate(340deg)
    brightness(111%) contrast(101%); svg fill color hack https://stackoverflow.com/a/53336754 */

  /* can inline the html isntead for one less network request
  https://yoksel.github.io/url-encoder/ */

  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 1080 1080'%3E%3Cpath d='M460 79.5L380.5 159H158v222.5l-79 79L0 541c0 .8 35.6 37 79 80.5l79 79V923h222.5l78.5 78.5 80.5 78.5c1.3 0 28.9-26.9 80.5-78.5l78.5-78.5H922V699.5l79.2-79.3 79.3-79.2L922 382.5V159H698.5L539.5 0 460 79.5zm119.7 42.7l42.3 43.2c0 .4-19.1 20-42.5 43.4L537 251.4l-42.5-42.5-42.5-43.4c0-1 84-85.5 85-85.5.3 0 19.5 19 42.7 42.2zM867 273.5V334H746V213h121v60.5zm-536 4V338H210V217h121v60.5zm236.1-17C671.8 271 760.9 337.4 801 435c26.2 63.8 27.5 139 3.5 203.1-25.5 68.2-75.2 123.5-139 154.9-41.9 20.6-79.1 29.3-125.5 29.3s-83.6-8.7-125.5-29.3c-76.7-37.7-133-110.6-150.4-194.7-4.1-19.7-5.4-33.9-5.4-57.3-.1-46.2 8.7-83.5 29.3-125.5 13.6-27.7 30.5-51.1 52.9-73.6 59.8-59.8 142.9-89.7 226.2-81.4zM206.6 500l42.2 42.8c.2.8-83.5 85.2-84.6 85.2-.4 0-19.8-19.1-43.2-42.5L78.5 543l42.5-42.5 43.1-42.5c.3 0 19.4 18.9 42.5 42zm752.4.5l42.5 42.5-42.5 42.5-43.2 42.5c-1.2 0-84.9-84.3-84.5-85.3.3-1.1 83.8-84.7 84.6-84.7.3 0 19.7 19.1 43.1 42.5zm-626 307V868H212V747h121v60.5zm532 3V871H744V750h121v60.5zm-285.4 63l42.4 43.2c0 .4-19.1 19.9-42.5 43.3l-42.5 42.5-42.5-42.5-42.5-43.3c0-.8 84-85.6 84.8-85.7.2 0 19.5 19.1 42.8 42.5zm-62.1-572.4c-23.7 2.2-51.6 9.4-73.1 18.9-16.2 7.1-22.4 10.5-38.2 20.9-88.8 58.7-128 170.8-95.6 273.3 29.2 92 111.6 157.9 208.4 166.7 23.1 2.2 44 .9 68.1-4 46.2-9.3 85.6-29.8 119.4-62 98.2-93.8 99-251.3 1.8-346-12.4-12.2-20.8-18.9-34.5-28-15.8-10.4-22-13.8-38.2-20.9-35.8-15.7-78.7-22.6-118.1-18.9zm-143 217.4v75l-23.5.6V442.9l11.8.3 11.7.3v75zm63.7-27.6c6.6 3.2 12.5 9.3 15.6 15.9l2.7 5.7.6 81.5h-23l-.3-37.3c-.2-20.4-.7-37.9-1.1-38.8-1.7-3.4-5.4-3.9-27.7-3.9h-22v-26.1l25.3.3c24.1.3 25.4.4 29.9 2.7zm107.1.8l5.7 3.1V488h18.4c14.6 0 19.5.4 23.6 1.7 7 2.3 15.9 10.4 19.1 17.5 2.4 5.3 2.4 5.6 2.7 46l.3 40.8h-23l-.3-37.3c-.2-20.4-.7-37.9-1.1-38.8-1.4-2.9-5.6-3.9-16.5-3.9h-10.7v79.5l-23.5.6v-35.9c0-22.5-.4-37-1-38.9-1.7-4.6-4.4-5.3-22-5.3h-16v80h-23v-48.5c0-53.1 0-52.8 5.8-56 2.3-1.2 7.1-1.4 29.2-1.2l26.5.2 5.8 3.2zM659 527.5c0 45.1-1.1 41 9.8 37.7 20.1-6.3 42.1-34.1 53.4-67.5l3.3-9.7h12.2c7 0 12.3.4 12.3.9 0 2.5-8.8 25.9-13.6 36-14.6 30.8-32.3 50.7-54.5 61-10.7 5-19.8 7.2-30.5 7.4l-8.5.2-3.5-3.7-3.4-3.8v-98h23v39.5z'/%3E%3C/svg%3E")
    no-repeat; */
}

/* mobile only MQ - hides keyboard nav alert link */

/* @media screen and (max-width: 900px) {
  .desktopOnly {
    display: none !important;
  }
} */

.madani {
  font-size: 91%;
}

/* Remember to change this for minimal mod styles too */

a {
  color: #00598b;
  text-decoration: none;
}

a:hover {
  color: #36c;
}

/* ====================
       HOVER LINK UNDERLINE --remember to change in minimal
======================= */

/*  http://jsfiddle.net/Markus_Steiger/wch6ara7/ */
a {
  /* font-size: 500%; */
  text-decoration: none;
  background: linear-gradient(currentColor, currentColor) bottom / 0 0.1em
    no-repeat;
  transition: 0.275s background-size;

  /* 1s */

  /* added space before line */
  padding-bottom: 4px;
}

a:hover {
  background-size: 100% 0.1em;
}

/* added remove to from things like img */
.noLine {
  background: none;
}

/* ====================
       BUTTON STYLES
======================= */

/* this removes the selected color given by dt js css ON THE MAIN TABLE as well as searchpane, which is in play even without select css, this is for the dt table, not the sp inner table */
table.dataTable.display tbody tr.odd.selected,
table.dataTable.stripe tbody tr.odd.selected {
  background-color: transparent !important;
}

/* aligns pane header text right */

div.dtsp-panesContainer
  div.dataTables_wrapper
  div.dataTables_scrollBody
  div.dtsp-nameCont
  span.dtsp-name {
  text-align: right !important;
}

div.dt-button-collection {
  /* fits searchpanes as well as buttom collection as much as content */
  width: fit-content !important;
  width: fit-content !important; /* otherwise doesnt center on firefox */

  /* centers */
  margin: auto !important;
  top: 0 !important;
  left: 0 !important;
}

input {
  /* moves ALL INPUTS a little more to the left */
  text-indent: 5px;
}

/* ====================
       Searchpanes STYLES
======================= */

/* font sizes, Desktop only MQ */
@media screen and (min-width: 900px) {
  div.dtsp-panesContainer
    div.dataTables_wrapper
    div.dataTables_scrollBody
    div.dtsp-nameCont
    span.dtsp-name,
  div.dtsp-panesContainer
    div.dataTables_wrapper
    div.dataTables_scrollBody
    div.dtsp-nameCont
    span.dtsp-pill {
    font-size: 18px !important;
  }
}

/* increases searchpanes height based on screen height */

div.dtsp-searchPane div.dataTables_scrollBody {
  height: 50vh !important;
  max-height: 50vh !important;
}

/* Desktop only MQ */
@media screen and (min-width: 900px) {
  div.dtsp-searchPane div.dataTables_scrollBody {
    height: 60vh !important;
    max-height: 60vh !important;
  }
}

.dtsp-nameColumn {
  /* changes text cursor to finger pointer */
  cursor: pointer;
}

/* ====================
       Footer STYLES
======================= */

/* hide until display finishes */
#footer {
  /* text-align: justify;
  text-align-last: center; */
  font-family: dvFont, arFont, Quicksand, sans-serif, faruma;
  font-size: 17px;
  line-height: 1.9;
  direction: rtl;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 20px;

  /* set max width for text, needs margin 0 auto otherwise text align gets messed up */
  max-width: 1000px;
  margin: 0 auto;
}

.arMasdar {
  font-family: arFont, dvFont, Quicksand, sans-serif, faruma;
  font-size: 20px;
  line-height: 1.7;
  word-spacing: 2px;
}

input.dtsp-search,
input.dtsp-search::placeholder {
  /* changes finger pointer cursor to text */
  cursor: text !important;

  /* moves input even more to the left */
  text-indent: 15px;
}

.dtsp-topRow {
  /* puts some space above and below search box of pane */
  margin-top: 6px !important;
  margin-bottom: 8px !important;
}

div.dtsp-panesContainer button.dtsp-clearAll:hover:not([disabled]) {
  /* text color when not disabled, ie active, not disabled is for preventing disabled being overwritten */
  background-color: #b0bed9; /* #0d4266 */
}

div.dtsp-panesContainer
  div.dtsp-searchPanes
  div.dtsp-searchPane
  button.dtsp-paneButton {
  /* changes cross cancel icon color */
  color: #000;

  /* makes it less transparent */
  opacity: 0.75;

  /* makes icon larger */
  font-size: 20px;
}

/* adds space to left and right of rtl titles of searchpane */
.dtsp-panesContainer > .dtsp-titleRow > button {
  margin-right: 40px;
}

.dtsp-panesContainer > .dtsp-titleRow > div {
  margin-left: 20px;
}

/*
#DataTables_Table_0 tbody tr {
  font-size: 16px;
}
*/

div.dtsp-panesContainer button.dtsp-clearAll:not([disabled]) {
  /* text color when not disabled, ie active, not disabled is for preventing disabled being overwritten */
  border: 1.5px solid #136296 !important;
}

@media (prefers-color-scheme: dark) {
  /* changes pane list selected highlight color to something that matches dark theme */

  #DataTables_Table_0 tbody tr.selected td {
    background-color: #b8c4cc99; /* #0d4266 */
    color: #000;
  }

  .dtsp-paneInputButton,
  .dtsp-search {
    /* changes background color to something lighter than main body */
    background-color: #1a232d !important;
  }

  .dtsp-clearAll {
    /* text color when not disabled, ie active */
    color: #eee;
    opacity: 0.8;
  }

  /* changes cross cancel icon color */
  div.dtsp-panesContainer
    div.dtsp-searchPanes
    div.dtsp-searchPane
    button.dtsp-paneButton {
    color: #eee;
  }

  /* changes cross cancel icon color when hovered, and changes cursor to pointer */
  div.dtsp-panesContainer
    div.dtsp-searchPanes
    div.dtsp-searchPane
    button.dtsp-paneButton:hover {
    color: #1a232d;
    cursor: pointer !important;
  }

  input.dtsp-search,
  input.dtsp-search::placeholder {
    /* changes color of searchpanes title placeholder where input is */
    color: #b8c4cc !important;
  }

  div.dtsp-panesContainer button.dtsp-clearAll:hover:not([disabled]) {
    /* text color when not disabled, ie active, not disabled is for preventing disabled being overwritten */
    background-color: #b8c4cc99; /* #0d4266 */
  }

  div.dtsp-panesContainer button.dtsp-clearAll:not([disabled]) {
    /* text color when not disabled, ie active, not disabled is for preventing disabled being overwritten */
    border: 1px solid #eee !important;
  }
}

/* ====================
   shared css code with hmv-styles and comb-noncrit css
======================= */

.hidden {
  display: none;
}

.mid {
  text-align: center;
}

.justi {
  text-align: justify;
}

.inde {
  text-indent: 25px;
}

/* ====================
       copyURL button
======================= */
.copyURL {
  direction: rtl;
  font-family: dvFont, arFont, Quicksand, sans-serif, faruma;
  font-size: 16px;

  /* width: 150px; */
  height: 47px;
  margin: 5px;
  border-radius: 5px;
  border-width: 0;

  /* add ease in transition for hover */
  transition: transform 0.2s ease-out;

  /*  */
  background: #efefef;

  /* add border to button */
  border: 0.25px solid rgb(0 0 0 / 25%);
}

.copyURL:hover {
  cursor: pointer;
  color: #fff;
  transform: scale(1.15);
  z-index: 9999;
  background-color: #136296;
  -webkit-font-smoothing: antialiased;
}

/* ====================
       
======================= */

/* How to change the height of a <br>?
      https://stackoverflow.com/a/31633969 */
.br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-bottom: 10px; /* change this to whatever height you want it */
}

/* ====================
       DARK MODE
======================= */

/* Chrome DevTools (Three dots > More tools > Rendering > Emulate CSS media feature prefers-color-scheme */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0e1621;
    color: #b8c4cc;
  }

  ::placeholder {
    color: #ffffff9e;
  }

  /* this is inner table on desktop */
  .dataTable > tbody > tr > td {
    background-color: #1a232d;
    color: rgb(255 255 255 / 84.7%);

    /* border: none; removes card border ?? */
  }

  /* this is inner table on mobile
this makes a faint white outline around card  */
  .cards tbody tr {
    background-color: #1a232d;
    color: rgb(255 255 255 / 84.7%);
  }

  /* The :not(X) property in CSS is a negation pseudo class and accepts a simple selector1 as an argument.
  otherwise border : 1px overwrites the quran frame and white outline gets larger */

  /* https://css-tricks.com/css-not-with-multiple-classes/ */
  :not(#quranBakurubeTable):not(#quranTable).cards tbody tr {
    border: 1px;
  }

  /* makes bold tabler headers normal */
  .dataTable > thead > tr > th {
    font-weight: normal !important;
  }

  /* hover and active pagination buttons */
  .dataTables_wrapper .dataTables_paginate .paginate_button:active,
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #1a232d !important;
    border-color: rgb(255 255 255 / 84.7%) !important;
  }

  /* removes borders inside cells */

  /* ?? */

  /* select input */
  .dataTables_wrapper .dataTables_length select {
    background-color: #1a232d !important;
    color: rgb(255 255 255 / 84.7%) !important;
  }

  /* colvis button, ACTUALLY all buttons? */
  button.dt-button {
    background-color: #1a232d !important;
    color: rgb(255 255 255 / 84.7%) !important;
    border: 1px solid #aaa !important;
  }

  /* colvis menu active */
  button.dt-button.active {
    background: #d6d6d6 !important;
    color: #000 !important;
  }

  /* colvis outer collection */
  div.dt-button-collection {
    background: #262d37 !important;
  }

  /* hover buttons */
  button.dt-button:hover:not(.disabled) {
    background: #d6d6d6 !important;
    color: #000 !important;
  }

  /* copy button */
  button.dt-button.buttons-copy.buttons-html5 {
    background-color: #1a232d;
    color: rgb(255 255 255 / 84.7%);
    border: 1px solid rgb(255 255 255 / 14.7%);
  }

  button.dt-button.buttons-copy.buttons-html5:hover {
    background-color: #0e1621;
    border: 1px solid rgb(255 255 255 / 84.7%);
  }

  /* page input */
  .paging_input input[type="search"] {
    background-color: #1a232d;
    color: rgb(255 255 255 / 84.7%);
  }

  /* search input */
  .dataTables_wrapper .dataTables_filter input {
    background-color: #1a232d !important;
    color: rgb(255 255 255 / 84.7%) !important;
  }

  /* pagination buttons */
  .dataTables_wrapper .dataTables_paginate.paging_input .paginate_button {
    color: #b8c4cc !important;
  }

  /* info text out of how many */
  .dataTables_wrapper .dataTables_info {
    color: #b8c4cc !important;
  }

  /* border lines on top and bottom */
  table.dataTable.no-footer {
    border-color: #b8c4cc !important;
  }

  table.dataTable thead th {
    border-color: #b8c4cc !important;
  }

  /* changes clipboard copied color, */
  #datatables_buttons_info.dt-button-info h2 {
    /* background-color: #0e1621; */
    color: rgb(255 255 255 / 84.7%);

    /* background: #34515e; */
    background: #0e1621;
    border-color: #dadce0;
  }

  div.dt-button-info {
    background-color: #0d4266 !important; /* 0d4266 */
    border-style: solid !important;
    border-color: #f1f1f1 !important;
  }

  /* ====================
       Scroll Bar Code
======================= */

  @media screen and (min-width: 900px) {
    /* Works on Firefox */
    * {
      /* scrollbar-width: thin; */

      scrollbar-color: dark;
    }

    /* Works on Chrome, Edge, and Safari */

    /**  ::-webkit-scrollbar {
    width: 12px;
  } */

    *::-webkit-scrollbar-track {
      /* the track (progress bar) of the scrollbar. */
      background: #424242; /* outer */
    }

    *::-webkit-scrollbar-thumb {
      /* the draggable scrolling handle. */
      background-color: #686868; /* inner */

      /* border-radius: 20px; */

      /* do i need? */

      /* border-width: 3px; */
      border-style: solid;
      border-color: #424242; /* outer */
    }
  }

  a {
    color: #66bce6;
  }

  a:hover {
    color: #7dc4e6;
  }

  @media (prefers-color-scheme: light) {
    ::selection {
      background: #b3d4fc;
    }

    ::selection {
      background: #b3d4fc;
    }
  }
}
