/*
Starting with / returns to the root directory and starts there
Starting with ../ moves one directory backward and starts there
Starting with ../../ moves two directories backward and starts there (and so on...)
To move forward, just start with the first sub directory and keep moving forward.

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
*/

/* ====================
       BOILERPLATE 8.0.0 CODE - from normalize 8.0.1 and main css
======================= */
html {
  /* main */

  /* color: #222; */
  font-size: 1em;
  line-height: 1.4;

  /* do i need this?? */

  /* normalize */

  /* line-height: 1.15; */

  /* -webkit-text-size-adjust: 100%; */
}

/* Remove the margin in all browsers. - normalize */
body {
  margin: 0;
}

/* evens out and better colors text highlights - main */

/* Remove text-shadow in selection highlight. Customize the background color to match your design. */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
} */

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers  - main */
img {
  vertical-align: middle;

  /* do i need this??? */
}

/* normalize */

/* 1. Change the font styles in all browsers. 2. Remove the margin in Firefox and Safari. */
button,
input,
select {
  /* font-family: inherit; */

  /* 1 */
  font-size: 100%;

  /* 1 */

  /* makes input font as well as input box bigger, maybe more even */

  /* line-height: 1.15; */

  /* 1 */

  /* margin: 0; */

  /* 2 */
}

/* Correct the inability to style clickable types in iOS and Safari. */

/* button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
} */

/* 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari.
from what i see makes them smaller */

/* [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
} */

/* Remove the inner padding in Chrome and Safari on macOS. */

/* [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
} */

/* ===== BOILERPLATE - END ===== */

/* ====================
     scroll bar - probably needed for pushy nav
======================= */

/* while still being able to scroll - probably does not work on firefox, TODO */

/*
html {
  overflow: scroll;
  overflow-x: hidden;
}
*/

/* ::-webkit-scrollbar */

/* { */

/* width: 0px; */

/* Remove scrollbar space */

/* background: transparent; */

/* Optional: just make scrollbar invisible */

/*
} */

/* https://css-tricks.com/the-current-state-of-styling-scrollbars/ */

/* Desktop only MQ */
@media screen and (min-width: 900px) {
  html {
    --scrollbarBG: #cfd8dc;
    --thumbBG: #90a4ae;
  }

  body::-webkit-scrollbar {
    width: 11px;
  }

  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }

  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
}

/* ===== scroll bar - END ===== */

/* ====================
     Tabs Animations
======================= */
.w3-animate-right {
  position: relative;

  /*
    animation: animateRight 0.4s; original code of below */

  /*
    -webkit-animation: animateRight 0.5s ease-in-out;
    -moz-animation:    animateRight 0.5s ease-in-out;
    -o-animation:      animateRight 0.5s ease-in-out;
    animation:         animateRight 0.5s ease-in-out;
    */
  -webkit-animation-name: animateright;
  animation-name: animateRight;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
  will-change: transform;

  /* gpu */
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;

  /* smooth */
}

/*
@keyframes animateRight {
    0% {
        right: -300px;
        opacity: 0
    }
    100% {
        right: 0;
        opacity: 1
    }
}
ORIGINAL CODE above */

/* second attempt
  }
  @keyframes animateRight {
    0%   { right: -300px; opacity: 0 }
    100% { right: 0; opacity: 1 }
  }

  smooth as butter animation below
  also browser supports

@-webkit-keyframes animateRight {
    0%   { right: -300px; opacity: 0 }
    100% { right: 0; opacity: 1 }
  }
  @-moz-keyframes animateRight {
    0%   { right: -300px; opacity: 0 }
    100% { right: 0; opacity: 1 }
  }
  @-o-keyframes animateRight {
    0%   { right: -300px; opacity: 0 }
    100% { right: 0; opacity: 1 }
  }
  removed opacity, right, added will-change and ease
  */

@-webkit-keyframes animateRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

/* ===== Tabs Animation - END ===== */

/* ====================
     DT wrapper CSS
======================= */
.dataTables_wrapper, /* takes care of most of the table fonts */
input, /* search and input page */
select, /* page lengthmenu */
button,
.dt-button-info, /* clipboard message */
li, /* for pushy side bar */
.site-header {
  font-family: "dvFont", "arFont", sans-serif;

  /* CHANGE123 FONT
              text-align: justify;
              font-size: 100%;
              -ms-text-size-adjust: 100%;
              -webkit-text-size-adjust: 100%;
              color: #24292e;
              line-height: 1.5;
              word-wrap: break-word;
    */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
}

/* makes table rtl */
div.dataTables_wrapper {
  direction: rtl;
}

/* make cancel button for input, only works on webkit chrome and stuff. should i get more browser support???
The ::-webkit-search-cancel-button CSS pseudo-element represents a button (the "cancel button") at the edge of an <input> of type="search" which clears away the current value of the <input> element. */
input[type="search"]::-webkit-search-cancel-button {
  /* adds x delete placeholder */
  -webkit-appearance: searchfield-cancel-button;
  border: 4px solid transparent; /* makes x a bit bigger */

  /* margin-right: -25px; makes x icon not interfere with centering search text, but text goes over the icon then */
}

/* make pagination placeholder a bit shorter and the text centered,
a little off to the right because of the search cancel button */
.paging_input input[type="search"] {
  width: 70px;

  /* text-align: center; */
}

/* makes copy button the same width as colvis, 81.918 + 14.080 + 14.080 */
button.dt-button.buttons-copy.buttons-html5 {
  width: 110.078px;
}

/* makes select list as tall in height as search box */
.dataTables_length > label > select {
  height: 31px;
}

/* on mobile, the top paginations buttons are given padding below, to be equal to
the padding above 
.mTop2 {
  padding-bottom: 12px;
} */

/* desktop mq lessens padding in pagination buttons based on screen width, default was 16px,  resposive and flexible */
@media screen and (min-width: 900px) {
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}

/* movile mq, lessens padding in pagination buttons based on screen width, resposive and flexible */
@media screen and (max-width: 900px) {
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    width: 15vw;
    max-width: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}

/* mobile mq add space at the bottom of table before last pagination row */
@media screen and (max-width: 900px) {
  .table {
    padding-bottom: 15px;
  }
}

/* mobile mq removes margin above pagination buttons input */
@media screen and (max-width: 900px) {
  div.dataTables_paginate.paging_input {
    margin-top: 0;
  }
}

/* mobile mq remove bottom border */
@media screen and (max-width: 900px) {
  table.dataTable.no-footer {
    border-bottom: none;
  }
}

/* make search placeholder text centered,
a little off to the right because of the search cancel button 
.dataTables_filter > label > input[type=search] {
  text-align: center; */

/*  desktop mq 
together the following four make the search input fill up the width of the container around it, responsive and flexible
removing this section of code makes the flex row distribute items evenly again
changed  (min-width: 900px) to 600 to include tablets */

@media screen and (min-width: 600px) {
  .buttons-colvis {
    /* puts a little space after colvis button, otherwise hits search box */

    margin-left: 20px;
  }
  .dataTables_filter > label > input[type="search"] {
    width: 100%;
    max-width: 300px;
  }
  .dataTables_filter {
    flex-grow: 4;
  }
  .dataTables_length {
    /* puts a little space after search box, otherwise hits select list */

    margin-right: 20px;
  }
}

/* if i want to change the box heights later,
38 next button
36.063 copy button
27 pagination input 
27 search input
29 select input 
*/

/* end of above code */

/* adds a little space to the left of pagination input box, because the other
   buttons have the same space */
.dataTables_paginate > input {
  margin-left: 2px;
}

/* makes pagination buttons stand out bold on mobile only mq */
@media screen and (max-width: 900px) {
  .paginate_button {
    font-weight: bold;
    font-size: 18px;
  }
}

/* removes default ugly black color from pagination css buttons
CURRENTLY BROKEN - FIX LATER 123 */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  color: #1e1e1e !important; /* change the text color on hover */
  border: 1px solid #1e1e1e; /* can change the box color */

  /* border-radius: 5px; a little rounder */
}

/* below block of css for change pagination buttom style when active */
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: none;
  color: #1e1e1e !important;
  box-shadow: none; /* removes shading on press down */
}

/* ===== DT wrapper CSS - END ===== */

/* ====================
   DT Column CSS
======================= */

/* Alignscell contents vertically */
table.dataTable tbody td {
  vertical-align: top;
}

/* table data rows alignment */
.dataTable > tbody > tr > td {
  text-align: justify;

  /* word-spacing: -10px; */
  font-size: 100%;

  /* -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; */
  color: #24292e;
  line-height: 1.5;
  word-wrap: break-word;
}

/* table header row alignment */
.dataTable > thead > tr > th {
  font-size: 100%;
  text-align: center;

  /* color: #205ca5; */

  /* -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; */
  line-height: 1.5;
  word-wrap: break-word;
}

/* ===== DT Column CSS - END ===== */

/* ====================
         DT plugins CSS
======================= */

/* moves copied info in front - is this still needed??? test with colvis
div.dt-button-info {
  z-index: 9999 !important;
} */

#datatables_buttons_info {
  /* border: 1px solid #111; old */
  border-style: solid;
  border-width: 1px;
  border-color: #dadce0; /* #00000020 */
  border-radius: 5px; /* makes cards a little rounder, used to be 4 */
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

/* changes clipboard copied color, */
#datatables_buttons_info.dt-button-info h2 {
  background: #add1f2;
}

/* makes clipboard copy popup centered and fits width on mobile view */
div#datatables_buttons_info.dt-button-info {
  /* fits screen on mobile, is 400 on desktop */
  width: auto;
  max-width: 350px;

  /* centers */
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;

  /* makes borders rounder */
  border-radius: 5px;
}

/* hides table headers only on mobile, prev nth-child(2)
- Mobile only MQ
looks like we don't need this code anymore, use the hide below this */ /*
@media screen and (max-width: 900px) {
  thead tr:nth-child(1) {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
} */

/* Keytable - Desktop only MQ */
@media screen and (min-width: 900px) {
  /* table.dataTable tbody th.focus, */
  table.dataTable tbody td.focus {
    box-shadow: inset 0 0 1px 2.5px #337ab7;

    /* inset: Changes the shadow from an outer shadow (outset) to an inner shadow
next 4 numbers: offset-x | offset-y | blur-radius | spread-radius 
last is color */

    /* last px makes box thicker */

    border-radius: 5px; /* makes box rounder */
  }
}

/* Mark JS - padding: 0; removes useless padding, donno if still needed? */
mark {
  background: #add1f2;
  color: black;
  padding: 0;
}

/* ===== DT plugins CSS - END ===== */

/* ====================
       CARDS CODE
======================= */

.cards tbody tr {
  /* float: left; this stacks cards side by side and orients them left, use flexbox columns code below instead */
  display: flex;
  flex-direction: column;
  margin: 0.5rem; /* this was taken from below so as not to override what's next */
  margin-bottom: 1.25rem; /* !important; */

  /* padding: 0.625rem;  added for nicer spacing */

  /* removing float removes margin below, this is to fix that, without important gets overidden */

  /* width: 190rem; without it, card fill width */

  /* these used to be gyrocode rems */

  /* margin: 0.5rem; */
  border-style: solid;
  border-width: 1px;
  border-color: #dadce0; /* #00000020 */
  border-radius: 5px; /* makes cards a little rounder, used to be 4 */
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);

  /* box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25); old onesided card shadow */

  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.2); */

  /* The box-shadow property takes values for offset-x (how far to push the shadow horizontally from the element),
   offset-y (how far to push the shadow vertically from the element), blur-radius, spread-radius and color, in that order. */
}

.cards tbody td {
  display: block;
}

/* is this needed?? */
.cards thead {
  visibility: hidden;

  /* 'Hide only visually, but have it available for screen readers':
  taken from boilerplate code, maybe this is better than the
  thead tr:nth-child(1) { position: absolute; top: -9999px; left: -9999px;
  from above, have commented out apparently useless code */

  /* border: 0; */
  clip: rect(0, 0, 0, 0);

  /* height: 1px; */

  /* margin: -1px; */

  /* overflow: hidden; */

  /* padding: 0; */
  position: absolute;

  /* white-space: nowrap; */

  /* width: 1px; */
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 1px;
}

/* DEPRECIATED- dont use this anymore
MQ on mobile, this gets rid of empty th space at right of table on mobile,
+ centers table, while 2nd bit hides table header on mobile, need either this or
  thead tr:nth-child(1) { position: absolute; top: -9999px; left: -9999px; above
    but not both
    @media screen and (max-width: 900px) {
      .dataTable {
        display: flex;
      }

      .dataTable > thead {
        display: none;
      }
    }
*/

.cards td::before {
  content: attr(data-label);
  position: relative;
  float: left;
  color: #808080;
  min-width: 4rem;
  margin-left: 0;
  margin-right: 1rem;
  text-align: left;
}

/* useless
.selected td::before {
  color: #ccc;
}
*/

/* alternates color and border in mobile table rows, which have been overriden by mobile to a same color
@media screen and (max-width: 900px) {
  .cards tbody td:nth-child(even) {
    border-style: solid;
    border-width: 1px;
    border-color: #dadce0;
    background-color: #eee;
    border-bottom-style: solid;
  }
}
*/

/* ===== cards code END ===== */

/* ====================
       DOM FLEXBOX
======================= */

/* on mobile */
.mTop {
  display: -webkit-box;
  display: flex; /* single-direction layout concept. */
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly; /* items are distributed so that the spacing between any two items (and the space to the edges) is equal. */
  -webkit-box-align: baseline;
  align-items: baseline; /* how flex items are laid out along the cross axis on the current line.
  Think of it as the justify-content version for the cross axis. -items are aligned such as their baselines align */
}

.mTop2 {
  display: -webkit-box;
  display: flex; /* single-direction layout concept. */
  -webkit-box-pack: center;
  justify-content: center; /* items are centered along the line */
}

.mTop3 {
  display: -webkit-box;
  display: flex; /* single-direction layout concept. */
  -webkit-box-pack: center;
  justify-content: center; /* items are centered along the line */
}

/* Desktop only MQ */
@media screen and (min-width: 900px) {
  .dTop {
    display: -webkit-box;
    display: flex; /* single-direction layout concept. */
    flex-wrap: wrap; /* flex items will wrap onto multiple lines, from top to bottom.
    By default, flex items will all try to fit onto one line */
    -webkit-box-pack: justify;
    justify-content: space-between; /* alignment along the main axis
    items are evenly distributed in the line; first item is on the start line, last item on the end line */
    -webkit-box-align: baseline;
    align-items: baseline; /* how flex items are laid out along the cross axis on the current line.
    Think of it as the justify-content version for the cross axis. -items are aligned such as their baselines align */
  }
}

/* ===== dom flexbox - END ===== */

/* moves hamburger menu span to right + little up, does not affect header placement */
.hamburg {
  font-size: 25px;
  right: 0;
  padding-right: 15px;
  margin-top: -2px; /* moves hamburg a little higher, similar baseline to header text */
  position: absolute;

  /* samsung unicode symbol color fix */
  color: transparent;
  text-shadow: 0 0 0 white;
}

.navLogo {
  /* font-size: 25px;
  left: 0; */
  margin-left: 12px;
  margin-top: -10px; /* moves navLogo a little higher, similar baseline to header text */
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  background: url("../img/logo/newLogo5-N-iOptim-white-noback.svg") no-repeat;

  /* can inline the html isntead for one less network request
  https://yoksel.github.io/url-encoder/ */

  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 1080 1080'%3E%3Cpath d='M460 79.5L380.5 159H158v222.5l-79 79L0 541c0 .8 35.6 37 79 80.5l79 79V923h222.5l78.5 78.5 80.5 78.5c1.3 0 28.9-26.9 80.5-78.5l78.5-78.5H922V699.5l79.2-79.3 79.3-79.2L922 382.5V159H698.5L539.5 0 460 79.5zm119.7 42.7l42.3 43.2c0 .4-19.1 20-42.5 43.4L537 251.4l-42.5-42.5-42.5-43.4c0-1 84-85.5 85-85.5.3 0 19.5 19 42.7 42.2zM867 273.5V334H746V213h121v60.5zm-536 4V338H210V217h121v60.5zm236.1-17C671.8 271 760.9 337.4 801 435c26.2 63.8 27.5 139 3.5 203.1-25.5 68.2-75.2 123.5-139 154.9-41.9 20.6-79.1 29.3-125.5 29.3s-83.6-8.7-125.5-29.3c-76.7-37.7-133-110.6-150.4-194.7-4.1-19.7-5.4-33.9-5.4-57.3-.1-46.2 8.7-83.5 29.3-125.5 13.6-27.7 30.5-51.1 52.9-73.6 59.8-59.8 142.9-89.7 226.2-81.4zM206.6 500l42.2 42.8c.2.8-83.5 85.2-84.6 85.2-.4 0-19.8-19.1-43.2-42.5L78.5 543l42.5-42.5 43.1-42.5c.3 0 19.4 18.9 42.5 42zm752.4.5l42.5 42.5-42.5 42.5-43.2 42.5c-1.2 0-84.9-84.3-84.5-85.3.3-1.1 83.8-84.7 84.6-84.7.3 0 19.7 19.1 43.1 42.5zm-626 307V868H212V747h121v60.5zm532 3V871H744V750h121v60.5zm-285.4 63l42.4 43.2c0 .4-19.1 19.9-42.5 43.3l-42.5 42.5-42.5-42.5-42.5-43.3c0-.8 84-85.6 84.8-85.7.2 0 19.5 19.1 42.8 42.5zm-62.1-572.4c-23.7 2.2-51.6 9.4-73.1 18.9-16.2 7.1-22.4 10.5-38.2 20.9-88.8 58.7-128 170.8-95.6 273.3 29.2 92 111.6 157.9 208.4 166.7 23.1 2.2 44 .9 68.1-4 46.2-9.3 85.6-29.8 119.4-62 98.2-93.8 99-251.3 1.8-346-12.4-12.2-20.8-18.9-34.5-28-15.8-10.4-22-13.8-38.2-20.9-35.8-15.7-78.7-22.6-118.1-18.9zm-143 217.4v75l-23.5.6V442.9l11.8.3 11.7.3v75zm63.7-27.6c6.6 3.2 12.5 9.3 15.6 15.9l2.7 5.7.6 81.5h-23l-.3-37.3c-.2-20.4-.7-37.9-1.1-38.8-1.7-3.4-5.4-3.9-27.7-3.9h-22v-26.1l25.3.3c24.1.3 25.4.4 29.9 2.7zm107.1.8l5.7 3.1V488h18.4c14.6 0 19.5.4 23.6 1.7 7 2.3 15.9 10.4 19.1 17.5 2.4 5.3 2.4 5.6 2.7 46l.3 40.8h-23l-.3-37.3c-.2-20.4-.7-37.9-1.1-38.8-1.4-2.9-5.6-3.9-16.5-3.9h-10.7v79.5l-23.5.6v-35.9c0-22.5-.4-37-1-38.9-1.7-4.6-4.4-5.3-22-5.3h-16v80h-23v-48.5c0-53.1 0-52.8 5.8-56 2.3-1.2 7.1-1.4 29.2-1.2l26.5.2 5.8 3.2zM659 527.5c0 45.1-1.1 41 9.8 37.7 20.1-6.3 42.1-34.1 53.4-67.5l3.3-9.7h12.2c7 0 12.3.4 12.3.9 0 2.5-8.8 25.9-13.6 36-14.6 30.8-32.3 50.7-54.5 61-10.7 5-19.8 7.2-30.5 7.4l-8.5.2-3.5-3.7-3.4-3.8v-98h23v39.5z'/%3E%3C/svg%3E")
    no-repeat; */
}

/* mobile only MQ - hides keyboard nav alert link */
@media screen and (max-width: 900px) {
  .desktopOnly {
    display: none;
  }
}

.madina {
  font-size: 86%;
}

/* ====================
       BUTTON STYLES
======================= */

/* ===== button styles - END ===== */

/*
*
*
*
*
*
*
*
*
*
*
*/

/* ====================
  ****************** CUSTOM COLUMN CLASSES ********************
======================= */

/* ===================
  FOR FORTY NAWAWI HADITH
===================== */

/* CHANGE123 classes and fonts */

/* removes justify from ar dv (titles and refs) + rs.
justify doesnt look good on short cells like surukhi, masdars.
so right align to prevent gaps in text */
.dataTable tr td.fnCol2,
.dataTable tr td.fnCol3,
.dataTable tr td.fnCol7,
.dataTable tr td.fnCol8,
.dataTable tr td.fnCol9 {
  text-align: right;
}

/* mobile only row centering, for rows with strings that are not long */
@media screen and (max-width: 900px) {
  .dataTable tr td.fnCol1,
  .dataTable tr td.fnCol2,
  .dataTable tr td.fnCol3,
  .dataTable tr td.fnCol7,
  .dataTable tr td.fnCol8,
  .dataTable tr td.fnCol9 {
    text-align: center;
  }

  /* bold headers for mobile - first number at top */
  .fnCol1 {
    font-weight: bold;
  }
}

/* --- AR FONTS FOR TABLE --- */

/* tbody tr td.fnCol1, */
.dataTable tr td.fnCol2,
.dataTable tr td.fnCol4,
.dataTable tr td.fnCol5,
.dataTable tr td.fnCol7,
.dataTable tr td.fnCol9 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 23px;
  line-height: 1.7;

  /* font-size-adjust: 0.1; this breaks firefox font size */
}

/* --- DV FONTS FOR TABLE --- */

/* .dataTable tr td.fnCol1, need this bigger */
.dataTable tr td.fnCol3,
.dataTable tr td.fnCol6,
.dataTable tr td.fnCol8 {
  font-family: "dvFont", "arFont", sans-serif;
  font-size: 17px;
  line-height: 1.9;
}

/* columns with ar numbers */
.dataTable tr td.fnCol7,
.dataTable tr td.fnCol9 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 21px;
}

/* css for first column
# number column cuz it has hashtag and digits */
.dataTable tr td.fnCol1 {
  font-family: "dvFont", "arFont", sans-serif;
  font-size: 21px;
}

/* ===================
  FOR SAHIHAIN HADITH 
===================== */

/* removes justify from ar dv (titles and refs) + rs.
justify doesnt look good on short cells like surukhi, masdars.
so right align to prevent gaps in text */
.dataTable tr td.shCol1 {
  text-align: right;
}

/* mobile only row centering, for rows with strings that are not long */
@media screen and (max-width: 900px) {
  .dataTable tr td.shCol1,
  .dataTable tr td.shCol5 {
    text-align: center;
  }

  /* bold headers for mobile - first number at top */
  .shCol1 {
    font-weight: bold;
  }
}

/* --- AR FONTS FOR TABLE --- */

/* tbody tr td.ahCol1, */
.dataTable tr td.shCol2,
.dataTable tr td.shCol3 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 23px;
  line-height: 1.7;
}

/* --- DV FONTS FOR TABLE --- */

/* .dataTable tr td.fnCol1, need this bigger */
.dataTable tr td.shCol4 {
  font-family: "dvFont", "arFont", sans-serif;
  font-size: 17px;
  line-height: 1.9;
}

/* columns with ar numbers
.dataTable tr td.ahCol7,
.dataTable tr td.ahCol9 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 21px;
} */

/* css for first column
cuz it has hashtag and digits */
.dataTable tr td.shCol1 {
  font-size: 21px;
}

/* extra changes from fnCols */
.dataTable tr td.shCol5 {
  text-align: center;
  font-size: 18px;
}

/* ===================
    FOR OTHER HADITH 
===================== */

/* removes justify from ar dv (titles and refs) + rs.
justify doesnt look good on short cells like surukhi, masdars.
so right align to prevent gaps in text */
.dataTable tr td.hCol1 {
  text-align: right;
}

/* mobile only row centering, for rows with strings that are not long */
@media screen and (max-width: 900px) {
  .dataTable tr td.ohCol1,
  .dataTable tr td.ohCol5 {
    text-align: center;
  }

  /* bold headers for mobile - first number at top */
  .ohCol1 {
    font-weight: bold;
  }
}

/* --- AR FONTS FOR TABLE --- */

/* tbody tr td.ahCol1, */
.dataTable tr td.ohCol2,
.dataTable tr td.ohCol3 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 23px;
  line-height: 1.7;
}

/* --- DV FONTS FOR TABLE --- */

/* .dataTable tr td.fnCol1, need this bigger */
.dataTable tr td.ohCol4 {
  font-family: "dvFont", "arFont", sans-serif;
  font-size: 17px;
  line-height: 1.9;
}

/* columns with ar numbers
.dataTable tr td.ahCol7,
.dataTable tr td.ahCol9 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 21px;
} */

/* css for first column
cuz it has hashtag and digits */
.dataTable tr td.ohCol1 {
  font-size: 21px;
}

/* extra changes from fnCols */
.dataTable tr td.ohCol5 {
  text-align: center;
  font-size: 18px;
}

/* ===================
    FOR UMDAH HADITH 
===================== */

/* CHANGE123 classes and fonts */

/* removes justify from ar dv (titles and refs) + rs.
justify doesnt look good on short cells like surukhi, masdars.
so right align to prevent gaps in text */
.dataTable tr td.uhCol1,
.dataTable tr td.uhCol2,
.dataTable tr td.uhCol9 {
  text-align: right;
}

/* mobile only row centering, for rows with strings that are not long */
@media screen and (max-width: 900px) {
  .dataTable tr td.uhCol1,
  .dataTable tr td.uhCol2,
  .dataTable tr td.uhCol3,
  .dataTable tr td.uhCol4,
  .dataTable tr td.uhCol5,
  .dataTable tr td.uhCol9 {
    text-align: center;
  }

  /* bold headers for mobile - first number at top */
  .uhCol1 {
    font-weight: bold;
  }
}

/* --- AR FONTS FOR TABLE --- */

/* tbody tr td.fnCol1, */
.dataTable tr td.uhCol2,
.dataTable tr td.uhCol4,
.dataTable tr td.uhCol6,
.dataTable tr td.uhCol7,
.dataTable tr td.uhCol9 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 23px;
  line-height: 1.7;

  /* font-size-adjust: 0.1; this breaks firefox font size */
}

/* --- DV FONTS FOR TABLE --- */

/* .dataTable tr td.fnCol1, need this bigger */
.dataTable tr td.uhCol1,
.dataTable tr td.uhCol3,
.dataTable tr td.uhCol5,
.dataTable tr td.uhCol8 {
  font-family: "dvFont", "arFont", sans-serif;
  font-size: 17px;
  line-height: 1.9;
}

/* columns with ar numbers */
.dataTable tr td.uhCol9 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 21px;
}

/* css for first column
# number column cuz it has hashtag and digits */
.dataTable tr td.uhCol1 {
  font-family: "dvFont", "arFont", sans-serif;
  font-size: 21px;
}

/* ===================
    FOR Radheef 
===================== */

/* CHANGE123 classes and fonts */

/* removes justify from ar dv (titles and refs) + rs.
justify doesnt look good on short cells like surukhi, masdars.
so right align to prevent gaps in text 
.dataTable tr td.rCol1,
.dataTable tr td.rCol2,
.dataTable tr td.rCol9 {
  text-align: right;
} */

/* mobile only row centering, for rows with strings that are not long */

/* @media screen and (max-width: 900px) { */
.dataTable tr td.rCol1,
.dataTable tr td.rCol2,
.dataTable tr td.rCol3,
.dataTable tr td.rCol4,
.dataTable tr td.rCol5 {
  text-align: center;

  /* } */

  /* bold headers for mobile - first number at top 
    .rCol1 {
      font-weight: bold;
    } */
}

/* --- AR FONTS FOR TABLE --- */

/* tbody tr td.fnCol1, */
.dataTable tr td.rCol1,
.dataTable tr td.rCol2,
.dataTable tr td.rCol3 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 21px;
  line-height: 1.7;

  /* font-size-adjust: 0.1; this breaks firefox font size */
}

/* --- DV FONTS FOR TABLE --- */

/* .dataTable tr td.fnCol1, need this bigger */
.dataTable tr td.rCol4 {
  font-family: "dvFont", "arFont", sans-serif;
  font-size: 17px;
  line-height: 1.9;
}

/* columns with ar numbers 
.dataTable tr td.rCol9 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 21px;
} */

/* css for first column
# number column cuz it has hashtag and digits 
.dataTable tr td.rCol1 {
  font-family: "dvFont", "arFont", sans-serif;
  font-size: 21px;
} */

/* ===================
  FOR BARBAHARI
===================== */

/* CHANGE123 classes and fonts */

/* removes justify from ar dv (titles and refs) + rs.
justify doesnt look good on short cells like surukhi, masdars.
so right align to prevent gaps in text 
.dataTable tr td.barbaCol2,
.dataTable tr td.barbaCol3,
.dataTable tr td.barbaCol7,
.dataTable tr td.barbaCol8,
.dataTable tr td.barbaCol9 {
  text-align: right;
} */

/* mobile only row centering, for rows with strings that are not long */

/* @media screen and (max-width: 900px) { */
.dataTable tr td.barbaCol1 {
  text-align: center;
}

/* bold headers for mobile - first number at top */
.barbaCol1 {
  font-weight: bold;
}

/* } */

/* --- AR FONTS FOR TABLE --- */

/* tbody tr td.fnCol1, */
.dataTable tr td.barbaCol2,
.dataTable tr td.barbaCol3 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 23px;
  line-height: 1.7;

  /* font-size-adjust: 0.1; this breaks firefox font size */
}

/* --- DV FONTS FOR TABLE --- */

/* .dataTable tr td.fnCol1, need this bigger */
.dataTable tr td.barbaCol4 {
  font-family: "dvFont", "arFont", sans-serif;
  font-size: 17px;
  line-height: 1.9;
}

/* columns with ar numbers 
.dataTable tr td.barbaCol7,
.dataTable tr td.barbaCol9 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 21px;
} */

/* css for first column
# number column cuz it has hashtag and digits */
.dataTable tr td.barbaCol1 {
  font-family: "dvFont", "arFont", sans-serif;
  font-size: 21px;
}

/* ===================
    FOR QURAN
    everything is mobile, mqs removed
===================== */

/* CHANGE123 classes and fonts */

/* removes justify from ar dv (titles and refs) + rs.
justify doesnt look good on short cells like surukhi, masdars.
so right align to prevent gaps in text 
.dataTable tr td.qCol1,
.dataTable tr td.qCol2,
.dataTable tr td.qCol9 {
  text-align: right;
} */

/* mobile only row centering, for rows with strings that are not long */

/* @media screen and (max-width: 900px) { */
.dataTable tr td.qCol1,
.dataTable tr td.qCol2,
.dataTable tr td.qCol3,
.dataTable tr td.qCol4 {
  text-align: center;
}

/* bold headers for mobile - first number at top */
.qCol1 {
  font-weight: bold;
}

/* } */

/* --- AR FONTS FOR TABLE --- */

/* tbody tr td.fnCol1, */
.dataTable tr td.qCol2,
.dataTable tr td.qCol3 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 21px;
  line-height: 1.7;

  /* font-size-adjust: 0.1; this breaks firefox font size */
}

/* --- DV FONTS FOR TABLE --- */

/* .dataTable tr td.fnCol1, need this bigger */
.dataTable tr td.qCol4 /*,
.dataTable tr td.qCol6 */ {
  font-family: "dvFont", "arFont", sans-serif;
  font-size: 17px;
  line-height: 1.9;
}

/* columns with ar numbers 
  .dataTable tr td.qCol2 {
    font-family: "arFont", "dvFont", sans-serif;
    font-size: 21px;
  } */

/* css for first column
  # number column cuz it has hashtag and digits
  .dataTable tr td.qCol1 {
    font-family: "dvFont", "arFont", sans-serif;
    font-size: 21px;
  } */

/*
*
*
*
*
*
*/

/* ===== custom column classes - END ===== */

/* Umdah only kitab bab top bottom padding removal */
.dataTable tr td.uhCol2,
.dataTable tr td.uhCol3,
.dataTable tr td.uhCol4,
.dataTable tr td.uhCol5 {
  padding-top: 0;
  padding-bottom: 0;
}

/* desktop radheef only eng word left align */
@media screen and (min-width: 900px) {
  .dataTable tr td.rCol5 {
    text-align: left;
  }
}

/* quran only tafsir sa'di font and line height smaller */
.dataTable tr td.qCol5 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
.dataTable tr td.qCol6 {
  font-family: "arFont", "dvFont", sans-serif;
  font-size: 15px;
  line-height: 1.7;
}

/* ===================
    FOR Quran border frame and ayahbox 
===================== */

/* mobile only quran border frame svg */

/* @media screen and (max-width: 900px) { */
#quranTable > tbody > tr /*, table*/ {
  /* font-family: hafs;
    font-size: 20pt;
    text-align: justify;
      border-style: solid; */ /* for chromium */

  /* margin: 0.5em; */

  /* to allow for background color by extending border transparent parts */

  padding: 1.15rem; /* padding: 1em 2.2em; */
  border-image-slice: 30% 30.5%;
  border-image-width: 3em;
  border-image-repeat: round round;

  /* can move inside html to eliminate 1 network request, https://yoksel.github.io/ */
  border-image-source: url("../img/frame/ayahbox-orig-N-iOptim.svg");
  border-image-outset: 0.6em; /* margin + .1em for optical alignment */

  /* background-color: beige; */

  /* spaces out above and below quran table */
  margin-top: 1.6rem;
  margin-bottom: 2.4rem;
}

/* reduces margin last item at end of page */
#quranTable > tbody > tr:last-child {
  margin-bottom: 25px;
}

/* } */

/* ===== quran frame border - END ===== */

/* mobile only qyran ayah box */

/* @media screen and (max-width: 900px) { */
#quranTable > tbody > tr > td.qCol1 {
  /* float: left; */
  position: relative;

  /* top: .8em; */
  font-size: 0.9em;
  line-height: 1.6em;
  padding-top: 2px;
  padding-bottom: 0;
  padding-left: 0.5em;
  padding-right: 0.5em; /* padding: 0 .5em; */
  background: #c1d1c3;
  border-radius: 0.2em;
  border: 1px solid #40455c;
  box-shadow: inset 0 0 2px 0 #693, 0 0 0 2px #fff, 0 0 0 3px #40455c;

  /* centers ayahbox */
  top: -32px;
  width: 7.5rem;
  margin: auto;
  text-align: center;

  /* removes margin below ayahbox to lessen space above ayah */
  margin-bottom: -15px;
}

/* } */

/* ===== quran ayahbox - END ===== */

/* custom quran css for Keytable - Desktop only MQ */
@media screen and (min-width: 900px) {
  /* #quranTable tbody th.focus, */
  #quranTable tbody td.focus {
    box-shadow: inset 0 0 1px 2px #337ab7;

    /* inset: Changes the shadow from an outer shadow (outset) to an inner shadow
next 4 numbers: offset-x | offset-y | blur-radius | spread-radius 
last is color */

    /* last px makes box thicker */
  }
}
