/* this is the inlined css */

/* html,
body {
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
  font-family: Arial, Helvetica, Verdana;
  font-size: 14px;
  line-height: 22px;
  color: #808080;
  position: relative;
  -webkit-text-size-adjust: none;
}
*/

/*
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
h1, h2, h3 {
	font-size: 18px;
}
h4, h5, h6 {
	font-size: 16px;
}
p {
	margin: 0 0 10px 0;
}
*/ /*
a,
a:link,
a:active,
a:visited,
a:hover {
  color: inherit;
  text-decoration: underline;
}
*/

/* commenting this out causes FOUT */
.header nav {
  display: none;
}

.header,
.content/*,
.footer*/ {
  text-align: center;
}

.header/*,
.footer*/ {
  background: #0f4c75 /*#254e61;*/
    /* #4bb5ef - top horizontal long navbar color */ /* font-size: 16px; */
    /* font-weight: bold; */;
  color: #fff;
  line-height: 50px;
  box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 0 50px;

  /* added z index to prevent table coming above it */
  z-index: 999;

  /* added this shadow */
  box-shadow: 0 1px 2.5px rgb(0 0 0 / 20%);

  /* box-shadow: 0 2px 4px rgb(0 0 0 / 50%); */

  /* added font because navbar top text is unstyled 
  font-family: "dvFont", "arFont", "Quicksand", sans-serif, "faruma"; */

  /* added abosulte css because fixed class and fixed position didnt work on mobile
  top right left needed to keep it from moving along with the animation */

  /* position: fixed;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important; */
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
} /*
.footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
} */
.header a {
  /* this is the hamburger */
  display: block;
  width: 28px;
  height: 18px;
  padding: 11px;
  margin: 5px;
  position: absolute;
  top: 0;

  /* left: 0; */

  /* changed from left to bring hamburger to the right */
  right: 0;
}

.header a::before,
.header a::after {
  content: "";
  display: block;
  background: #fff;
  height: 2px;
}

.header a span {
  background: #fff;
  display: block;
  height: 2px;
  margin: 6px 0;
}

.content {
  /* padding: 150px 50px 50px 50px; */

  /* padding: 50px 10px 10px 10px; */

  /* first is space below navbar, this leaves room before clicking search, margin room */
  padding-top: 57px;
  padding-left: 2px;
  padding-right: 2px;
}

/* phone only mq - adds a little more padding to top of content above */
@media (max-width: 599px) {
  .content {
    padding-top: 50px;
  }
}

/* === --- === --- ====
CUSTOM EDITS
=== --- === --- ==== */

/* darkens nav and changes cursor on mouseover so users know its somewhat clickable */
#page > div.header:hover {
  background-color: #0d4266 /*#1c4253;*/;
  cursor: pointer;
}

/* HMV LOGO */

.hmvLogo1 {
  /* taken and modified from hamburger */

  /* z-index: 999; */

  /* display: block; */

  /* width: 28px; */

  /* height: 18px; */

  /* padding: 11px; */

  /* margin: 5px; */

  /* position: absolute; */
  top: 0;
  left: 0;

  /* changed from left to bring hamburger to the right 
  right: 0; */

  /* no longer need this since not keeping the logo white anymore 
  filter: brightness(0) invert(1); */
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  margin-left: 11px;
  margin-top: 4.7px;
}

/* dark mode, because preloading css causes fout, in this flash of case invisible white body */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0e1621;
    color: #b8c4cc;
  }
}
