/*! Pushy - v1.3.0 - 2019-6-25
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #191918;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  /* enables momentum scrolling in iOS overflow elements */
}

.pushy a {
  display: block;
  color: #e2f1f8; /* dimmed color before mouse over */
  padding: 15px 30px;
  text-decoration: none;
}

.pushy a:hover {
  color: #fff;
}

/* removes top margin 10px from sidebar when open
.pushy ul:first-child {
  margin-top: 10px;
}
*/
.pushy.pushy-left {
  left: 0;
}

.pushy.pushy-right {
  right: 0;
}

.pushy-content {
  visibility: hidden;
}

/* Menu Movement */

/*
.pushy-left {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}
*/

/* .pushy-open-left #container, */
.pushy-open-left .push {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

/* .pushy-open-left .pushy, */
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* .pushy-open-left .pushy-content */
.pushy-open-right .pushy-content {
  visibility: visible;
}

/* Menu Transitions */

#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);

  /* transition: transform .3s cubic-bezier(.4,0,.6,1),opacity 0s .3s; -material menu */
}

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */

.site-overlay {
  display: none;
}

/* .pushy-open-left .site-overlay,
    --- dims rest of page on pushy nav open
*/
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.3); /* this dims it -rgba(0, 0, 0, 0.5) */
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Submenu Appearance */

/*
.pushy-submenu { */

/* Submenu Buttons */

/* Submenu Icon */

/*
}
*/
.pushy-submenu > ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.pushy-submenu > ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}

.pushy-submenu button {
  width: 100%;
  color: #e2f1f8; /* dimmed color before mouse over -b3b3b1 */
  padding: 15px 30px;
  text-align: left;
  background: transparent;
  border: 0;
}

.pushy-submenu button:hover {
  color: #fff;
}

.pushy-submenu > a,
.pushy-submenu > button {
  position: relative;
}

.pushy-submenu > a::after,
.pushy-submenu > button::after {
  content: "";
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  background: url("../css/pushyarrow.svg") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%) rotate(180deg); /* previously without rotate(180deg), added to make it rtl */
  transition: transform 0.2s;
}

/* Submenu Movement */

.pushy-submenu-closed > ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.pushy-submenu-closed .pushy-link {
  opacity: 0;
}

/*
.pushy-submenu-open { */

/* Submenu Icon */

/*
} */

.pushy-submenu-open > ul {
  max-height: 1000px;
  visibility: visible;
}

.pushy-submenu-open .pushy-link {
  opacity: 1;
}

.pushy-submenu-open > a::after,
.pushy-submenu-open > button::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

/* BELOW IS CUSTON CSS FROM PUSHY DEMO CSS */

html,
body {
  overflow-x: hidden;
}

/* Lists */

ul {
  margin: 0;
  padding: 0;
}

/* Container */

#container {
  position: relative;
  padding: 20px 40px;
  padding-top: 80px;
}

/* Menu Button */

.menu-btn {
  width: 100px;
  padding: 10px;
  margin-bottom: 30px;

  /*
  background: #000;
  color: #fff;
  */
  text-align: center;
  cursor: pointer;
  border: 0;
}

.menu-btn:hover {
  opacity: 0.6;
}

/* Header */

.site-header {
  position: fixed;

  /*
  background: #000;
  color: #fff;
  */
  width: 100%;
  padding: 20px 0;
  text-align: center;
  z-index: 9998;
}

/* Footer

.site-footer {
  position: relative;
  border-top: 1px solid #EEE;
  color: #999;
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
}
*/

/* ====================
     custom edits below
======================= */

/* mostly list items */
.pushy-content {
  text-align: right;
}

/* buttons inside pushy content align */
.pushy-content button {
  text-align: right;
}

/* moves pushy list items a little to the left, indent */
.pushy-link a {
  text-indent: 1em;
  direction: rtl;
}

/* Container، made padding y sides smaller,
 change x and padding top later if needd */
#container {
  padding: 20px 10px;
  padding-top: 80px;
}

/* button hover change */
.menu-btn:hover {
  opacity: 0.9;
}

/* makes svg pushy arrows rtl */
.pushy-submenu > a::after,
.pushy-submenu > button::after {
  left: 15px;
}

/* arrow flip code is above not here */

/* experimenting with colors */
.site-header {
  /* background: #23272A; */
  color: #fff; /* nav menu center text -fff */
  background-color: #34515e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* side bar */
.pushy {
  background: #1a282f;
}

/* luxbar and mdc menu stuff below
  .site-header {

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  */

/* height: 58px; */

/*
  list-style-type: disc;
  background-color: #0277bd;
  color: #fff;

  width: 100%;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 1000;
  ------------------------------------
  */

/*
    position: fixed;
    top: 0;
    transition: transform .3s cubic-bezier(.4,0,.6,1),opacity 0s .3s;
    width: 100%;
    */

/*
    background-color: #0277bd;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
*/

/* display: -ms-flexbox;
    display: flex; */

/* height: 112px; */

/*
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 4;
   
}
 */

/* prevent scrolling of your site when Pushy is open */

html,
body {
  overflow-x: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

/* removes bullet points of ul in pushy */
nav ul li {
  list-style-type: none;
}

/* moves hamburger menu span to right + little up, does not affect header placement */
.hamburg {
  font-size: 25px;
  right: 0;
  padding-right: 15px;
  margin-top: -2px; /* moves hamburg a little higher, similar baseline to header text */
  position: absolute;
}

/* for some reason, 16px default on buttons make the spaces collapse in thaana writing */
nav button,
nav ul li a {
  font-size: 17px;
}
