/* QURAN SURAH AYAH JUZ DROPDOWNS */

.q-navigation-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* 20 */
  /* */
  font-size: 20px;
  direction: rtl;
  /*gap: 20px;*/
}
/* on MOBILE size */
@media (max-width: 599px) {
  .q-navigation-container {
    font-size: 18px;
    justify-content: space-evenly;
  }
}
.q-nav-box {
  display: flex;
  align-items: center;
  margin: 0 10px;
  position: relative;
}
/* on MOBILE size */
@media (max-width: 599px) {
  .q-nav-box {
    margin: 0px;
  }
}
.q-nav-label {
  /*margin-right: 5px;*/
  margin-left: 5px;
}
.q-nav-label {
  /*margin-right: 5px;*/
  margin-left: 5px;
}
/* hides on MOBILE size */
@media (max-width: 599px) {
  .q-nav-label {
    display: none;
  }
}
.q-nav-value {
  border: 1px solid #ccc;
  /*padding: 5px 10px;*/
  cursor: pointer;
  min-width: 50px;
  text-align: center;
}
/* on MOBILE size */
@media (max-width: 599px) {
  .q-nav-value {
    font-size: 18px;
  }
}
.q-nav-value#surahValue {
  min-width: 110px;
}
.q-nav-arrow {
  cursor: pointer;
  user-select: none;
  padding: 0 5px;
}
.q-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 80vh;
  overflow-y: auto;
  display: none;
  z-index: 1000;
  width: 100%;
}
.q-dropdown-item {
  padding: 5px 10px;
  cursor: pointer;
}
.q-dropdown-item:hover {
  background-color: #f0f0f0;
}
.q-dropdown-search {
  width: calc(100% - 10px);
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  /* */
  font-family: inherit;
  font-size: 18px;
}
/* Styling for highlighted q-dropdown item */
.q-dropdown-item.highlighted {
  background-color: #e0e0e0;
}
