/* */

/* arabic */

@font-face {

    font-family: 'Almarai';
    src: url('Almarai.woff2');
}

/* dhivehi */

@font-face {
    font-family: 'mvtyper';
    src: url('mvtyper-mod2.woff2');
}

/* BOILERPLATE =============================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    /* this is main, normalize has 1.15;*/
    -webkit-text-size-adjust: 100%;
}

/* Remove text-shadow in selection highlight. Vendor-prefixed and regular ::selection selectors cannot be combined. Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */

img, svg {
    vertical-align: middle;
}

/* Remove the margin in all browsers. -but this may makes it ugly */

body {
    margin: 0;
}

/* 1. Change the font styles in all browsers. 2. Remove the margin in Firefox and Safari. -also evens out input box size*/

button, input, select {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/* Correct the inability to style clickable types in iOS and Safari. */

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

/* 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/* Remove the inner padding in Chrome and Safari on macOS. */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* END OF BOILERPLATE ================= */

/* tabs animations */

.w3-animate-right {
    position: relative;
    /*
    animation: animateRight 0.4s;  original code of below */
    /*
    -webkit-animation: animateRight 0.5s ease-in-out;
    -moz-animation:    animateRight 0.5s ease-in-out;
    -o-animation:      animateRight 0.5s ease-in-out; 
    animation:        animateRight 0.5s ease-in-out;
    */
    animation-name: animateRight;
    animation-duration: 400ms;
    will-change: transform;
    /* gpu */
    transition-timing-function: ease-in-out;
    /* smooth */
}

/*
@keyframes animateRight {
    0% {
        right: -300px;
        opacity: 0
    }
    100% {
        right: 0;
        opacity: 1
    }
}
ORIGINAL CODE above */

/* second attempt
  }
  @keyframes animateRight {
    0%   { right: -300px; opacity: 0 }
    100% { right: 0; opacity: 1 }
  }

  smooth as butter animation below
  also browser supports
  
@-webkit-keyframes animateRight {
    0%   { right: -300px; opacity: 0 }
    100% { right: 0; opacity: 1 }
  }
  @-moz-keyframes animateRight {
    0%   { right: -300px; opacity: 0 }
    100% { right: 0; opacity: 1 }
  }
  @-o-keyframes animateRight {
    0%   { right: -300px; opacity: 0 }
    100% { right: 0; opacity: 1 }
  }
  removed opacity, right, added will-change and ease
  */

@keyframes animateRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: none;
    }
}

/* tabs animations - END*/

/* fonts on page */

/*
#fortyNawawi,
.tbody,
body,
a
*/

/* make sure to remove last comma */

#fortyNawawi_wrapper,
/* takes care of most of the table fonts*/

input,
/* search and input page */

select,
/* page lengthmenu */

button, .dt-button-info,
/* clipboard message */

li,
/* for pushy side bar */

.site-header {
    font-family: 'mvtyper', 'Almarai', sans-serif;
    /*
                  text-align: justify;
              font-size: 100%;
              -ms-text-size-adjust: 100%;
              -webkit-text-size-adjust: 100%;
              color: #24292e;
              line-height: 1.5;
              word-wrap: break-word;
    */
}

/* makes table rtl */

div.dataTables_wrapper {
    direction: rtl;
}

/* moves copied info in front, changes clipboard copied color, */

#datatables_buttons_info {
    z-index: 9999 !important;
}

#datatables_buttons_info>h2 {
    background: #ADD1F2;
}

/*hides table headers only on mobile, prev nth-child(2)
           - Mobile only MQ */

@media screen and (max-width: 900px) {
    thead tr:nth-child(1) {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }
}

/* Keytable - Desktop only MQ */

@media screen and (min-width: 900px) {
    table.dataTable tbody th.focus, table.dataTable tbody td.focus {
        box-shadow: inset 0 0 1px 3px #337ab7;
        /* last px makes box thicker */
        border-radius: 5px;
        /* makes box rounder */
    }
}

/* Mark JS - padding: 0; removes useless padding, donno if still needed? */

mark {
    background: #add1f2;
    color: black;
    padding: 0;
}

/* DT Custom Column CSS === DT Custom Column CSS === DT Custom Column CSS ===  */

/* Alignscell contents vertically */

table.dataTable tbody td {
    vertical-align: top;
}

/* table data rows alignment */

#fortyNawawi>tbody>tr>td {
    text-align: justify;
        /*word-spacing: -10px;*/
        font-size: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        color: #24292e;
        line-height: 1.5;
        word-wrap: break-word;
}

/* table header row alignment */

#fortyNawawi>thead>tr>th {
    font-size: 100%;
    text-align: center;
    /*color: #205ca5;*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    word-wrap: break-word;
}

/* removes justify from ar en dv rs refs table rows */

.dataTable tbody tr td.fnCol3, .dataTable tbody tr td.fnCol4, .dataTable tbody tr td.fnCol5, .dataTable tbody tr td.fnCol10, .dataTable tbody tr td.fnCol11, .dataTable tbody tr td.fnCol12, .dataTable tbody tr td.fnCol13 {
    text-align: right !important;
}

/* mobile only row centering, like rows with strings that are not long */

@media screen and (max-width: 900px) {
    .dataTable tbody tr td.fnCol1, .dataTable tbody tr td.fnCol2, .dataTable tbody tr td.fnCol3, .dataTable tbody tr td.fnCol4, .dataTable tbody tr td.fnCol5, .dataTable tbody tr td.fnCol10, .dataTable tbody tr td.fnCol11, .dataTable tbody tr td.fnCol12, .dataTable tbody tr td.fnCol13 {
        text-align: center !important;
    }
    /* bold headers for mobile */
    .dataTable tbody tr td.fnCol3, .dataTable tbody tr td.fnCol4, .dataTable tbody tr td.fnCol5 {
        font-weight: bold;
    }
}

/* DT Custom Column CSS - END === DT Custom Column CSS - END === DT Custom Column CSS - END ===  */

/* The ::-webkit-search-cancel-button CSS pseudo-element represents a button (the "cancel button") at the edge of an <input> of type="search" which clears away the current value of the <input> element. */

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    /* adds x delete placeholder*/
    border: 4px solid transparent;
    /*makes x a bit bigger*/
}

/* cards code == cards code == cards code == cards code == cards code == */

.cards tbody tr {
    float: left;
    /*width: 190rem;*/
    /* lets card fill width when cut out*/
    margin: 0.5rem;
    border: 0.0625rem solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 900px) {
    /* MQ on mobile, this gets rid of empty th space at right of table on mobile, as well as centers table */
    #fortyNawawi {
        display: flex;
    }
    #fortyNawawi>thead {
        display: none;
    }
}

/*
#fortyNawawi {
    display: flex;
}
*/

/*
#fortyNawawi > thead
{
    display: none;
}
*/

.cards tbody td {
    display: block;
}

.cards thead {
    visibility: hidden;
}

.cards td:before {
    content: attr(data-label);
    position: relative;
    float: left;
    color: #808080;
    min-width: 4rem;
    margin-left: 0;
    margin-right: 1rem;
    text-align: left;
}

tr.selected td:before {
    color: #CCC;
}

/* cards code END == cards code  END == cards code END == cards code END == cards code END == */