/*
Starting with / returns to the root directory and starts there
Starting with ../ moves one directory backward and starts there
Starting with ../../ moves two directories backward and starts there (and so on...)
To move forward, just start with the first sub directory and keep moving forward.

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
*/

.hideInitially {
  display: none;
}

/* @mixin for-phone-only */
@media (max-width: 599px) {
  .showOnPhoneOnly {
    display: initial;
  }
  .hideOnPhoneOnly {
    display: none;
  }
}

/* @mixin for-tablet-portrait-up */
@media (min-width: 600px) {
  .showOnTabAndUp {
    display: initial;
  }
  .hideOnTabAndUp {
    display: none;
  }
}

/* @mixin for-tablet-landscape-up */
@media (min-width: 900px) {
  .showOnTabLandAndUp {
    display: initial;
  }
  .hideOnTabLandAndUp {
    display: none;
  }
}

/* @mixin for-desktop-up */
@media (min-width: 1200px) {
  .showOnDesktopAndUp {
    display: initial;
  }
  .hideOnDesktopAndUp {
    display: none;
  }
}

/* @mixin for-big-desktop-up */
@media (min-width: 1800px) {
  .showOnBigDesktopAndUp {
    display: initial;
  }
  .hideOnBigDesktopAndUp {
    display: none;
  }
}

.hmvVer {
  direction: ltr;
  font-family: "dvFont", sans-serif;
}

/* https://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page */
html {
  overflow-y: scroll;
}

/* CUSTOM mod of Minimal css
Minimal
A Theme for GitHub Pages
http://github.com/orderedlist/minimal
*/

/* ====================
   Fonts - REMEBER TO CHANGE THESE FOR fonts.css AS WELL
======================= */

/* arabic */
@font-face {
  font-family: arFont;
  src: url(../font/Yakout-mod.woff2) format("woff2"),
    url(../font/Yakout-mod.woff) format("woff"),
    url(../font/Yakout-Linotype-W20-Light.ttf) format("truetype");
  font-display: block; /* previously swap */
}

/* UPDATE - THIS SEEMS TO BE FIXED UNIVERSALLY AS OF 10/12/21
chromium webview has an issue with thaana rendering, letters get mashed together,
only seems to happen for woff and woff2, use original unmodified otf or ttf to get it fixed */

/* dhivehi */
@font-face {
  font-family: dvFont;
  src: url(../font/mvtyper-mod.woff2) format("woff2"),
    url(../font/mvtyper-mod.woff) format("woff"),
    url(../font/mvtyper.ttf) format("truetype");
  font-display: block; /* previously swap */
}

/* ../ is parent dir
  
  Starting with / returns to the root directory and starts there

Starting with ../ moves one directory backward and starts there

Starting with ../../ moves two directories backward and starts there (and so on...)

To move forward, just start with the first sub directory and keep moving forward.
*/

/* ==============The following is the original code with some parts commented out
============================= */

body {
  background-color: #fff;
  padding: 30px; /* padding: 50px; */
  padding-top: 10px; /* added this */
  font-size: 16px;
  font-family: dvFont, arFont, Quicksand, sans-serif, faruma;

  /* -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, */

  color: #222;

  /* font-weight: 400; */
}

/*
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  margin: 0 0 20px;
}
*/

/*
p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}
*/

/*
h1,
h2,
h3 {
  line-height: 1.1;
}
*/
h1 {
  font-size: 28px;
  font-weight: 500;
}

h2 {
  /* color: #393939; */
  font-weight: 500;
}

h3,
h4,
h5,
h6 {
  /* color: #494949; */
  font-weight: 500;
}

/* Remember to change this for non crit css too */

a {
  color: #00598b;
  text-decoration: none;
}

a:hover {
  color: #36c;
}

/*
a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #777;
}
*/
.wrapper {
  width: 860px;
  margin: 0 auto;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;

  /* font-style: italic; */
}

/*
code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}
*/

/*
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}
*/

/* dt {
   color: #444; 
  font-weight: 500;
}
*/

/*
th {
  color: #444;
} */

img {
  max-width: 100%;
}

/*
header {
width                 :270px;
float                 :left;
position              :fixed;
-webkit-font-smoothing:subpixel-antialiased;
}

header ul {
list-style   :none;
height       :40px;
padding      :0;
background   : #f4f4f4;
border-radius:5px;
border       :1px solid #e0e0e0;
width        :270px;
}

header li {
width       :89px;
float       :left;
border-right:1px solid #e0e0e0;
height      :40px;
}

header li:first-child a {
border-radius:5px 0 0 5px;
}

header li:last-child a {
border-radius:0 5px 5px 0;
}

header ul a {
line-height:1;
font-size  :11px;
color      :#999;
display    :block;
text-align :center;
padding-top:6px;
height     :34px;
}

header ul a:hover {
color:#999;
}

header ul a:active {
background-color:#f0f0f0;
}
*/

/*
strong {
  color: #222;
  font-weight: 500;
}
*/

/*
header ul li + li + li {
border-right:none;
width       :89px;
}

header ul a strong {
font-size:14px;
display  :block;
color    :#222;
}

section {
width         :500px;
float         :right;
padding-bottom:50px;
}
*/

/*
small {
  font-size: 11px;
}
*/

/* hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
} */

hr {
  background: none;
  border: 0;
  border-radius: 15px; /* 20px; */
  height: 3px;
  background-image: linear-gradient(to right, #f33939, #4f39f3);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
footer {
width                 :270px;
float                 :left;
position              :fixed;
bottom                :50px;
-webkit-font-smoothing:subpixel-antialiased;
}
*/

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  /*
header, section, footer {
float   :none;
position:static;
width   :auto;
}

header {
padding-right:320px;
}

section {
border      :1px solid #e5e5e5;
border-width:1px 0;
padding     :20px 0;
margin      :0 0 20px;
}

header a small {
display:inline;
}

header ul {
position:absolute;
right   :50px;
top     :52px;
}
}

@media print, screen and (max-width: 720px) {
body {
word-wrap:break-word;
}

header {
padding:0;
}

header ul, header p.view {
position:static;
}

pre, code {
word-wrap:normal;
}
}

@media print, screen and (max-width: 480px) {
body {
padding:15px;
}

header ul {
width:99%;
}

header li, header ul li + li + li {
width:33%;
}
}
*/
  @media print {
    body {
      padding: 0.4in;
      font-size: 12pt;

      /* color: #444; */
    }
  }
}

/* ==============The following is additional custom code
============================= */

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
}

p {
  line-height: 2.1;
  text-align: justify;
}

.hmv {
  width: 200px;
  height: 200px;
  /*transition: transform 0.3s ease-in-out;*/
  transition: transform 0.25s ease-out;

  /* background: url("../img/logo/logo.svg") no-repeat; */

  /* filter: brightness(0) invert(1); */

  /* invert(42%) sepia(39%) saturate(797%) hue-rotate(166deg)
    brightness(94%) contrast(96%); svg fill color hack https://stackoverflow.com/a/53336754 */
}

/*
@media screen and (min-width: 600px) {
.ContainerFlex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
}
  }
*/
.hmv:hover {
  transform: scale(1.15);
}

.ContainerFlex {
  height: 230px;
}

.badgeG {
  width: 250px;
  display: block;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.badgeW {
  width: 250px;
  display: block;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.mid,
.mid p {
  text-align: center;
}

.dv {
  font-family: dvFont, arFont, Quicksand, sans-serif, faruma;
  line-height: 2.1;
}

h1.ar {
  font-family: arFont, dvFont, Quicksand, sans-serif, faruma;
  font-size: 32px;
}

.ar {
  font-family: arFont, dvFont, Quicksand, sans-serif, faruma;
  line-height: 1.8;
  font-size: 21px;
}

.basmala {
  padding-bottom: 10px !important;
}

.en {
  font-family: Quicksand, sans-serif, serif;
  direction: ltr;
  line-height: 1.5;
}

/* moves letter end name to make it look better */
.leftAlign {
  text-align: center;
}

@media (min-width: 900px) {
  .leftAlign {
    text-align: left;
  }

  .padLeftBm {
    padding-left: 100px;
  }

  .padLeftSm {
    padding-left: 55px;
  }
}

h2,
h3 {
  line-height: 1.9;
}

.dv blockquote {
  border-left: none;
  border-right: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 20px 0 0;
}

.dvTable th,
.dvTable td {
  text-align: right;

  /* direction: rtl; */
  text-align: center;
}

/* decided to skip this table for bullet points
.marjTable td {
  text-align: right;
}

table.marjTable > tbody > tr > td:nth-child(1) {
  font-size: 2px;
  font-family: "arFont";
}
*/
th,
td {
  text-align: center;
}

/* SCROLLBAR COLOR */

/* Desktop only MQ */
@media screen and (min-width: 900px) {
  /* Works on Firefox */
  * {
    scrollbar-width: thin;

    /* scrollbar-color: dark; */
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    /* the track (progress bar) of the scrollbar. */

    background: #f1f1f1;

    /* outer */
  }

  *::-webkit-scrollbar-thumb {
    /* the draggable scrolling handle. */

    background-color: #c1c1c1;

    /* inner */

    /* border-radius: 20px; */

    /* border-width: 3px; */

    /* do i need? */
    border-style: solid;
    border-color: #f1f1f1;

    /* outer */
  }
}

/* ===== scroll bar - END ===== */

/* ==================
thaana mish mash render fix
have to use this convuluted nth child hack, using both even and odd doesnt work,
so have to go with n7 and every n above that,
trying n + 1 doesnt work
adding p tags and starting from n + 2 again doesnt work either
only one n selecter can be used it seems
inlining style font size 18 doesnt work either
then afterwards have to give back ar font size 

this thaana issue doesnt have to do with line wrapping it seems
it breaks on letter alif it seems, but not in all cases

after using up one nth child, it seems using bold or italic tags within p 
or header tags work as well, but there has to be a p tagged thaana text that comes before?

while span tags dont work
letter spacing doesnt work either


this would select 7 and everything past that */

/* THIS FIX ONLY WORKS FOR NOTES/INFO HTMLS, and setting the root html font to 17px
doesnt fix it, but that does work for the table htmls for some reason */
body > div > div.dv > p:nth-child(n + 7) {
  font-size: 17px;
}

body > div > div.dv > p.ar {
  font-size: 21px;
}

/* ==================
thaana mish mash render fix - END
 ================== */

/* ====================
       Footer
======================= */

#Footer {
  text-align: justify;
  text-align-last: center;
  font-family: dvFont, arFont, Quicksand, sans-serif, faruma;
  font-size: 17px;
  line-height: 1.9;
  direction: rtl;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* ====================
   shared css code --REPEATED IN MINIMAL-MOD AND HMV-STYLES
======================= */

.hidden {
  display: none;
}

.mid {
  text-align: center;
}

.justi {
  text-align: justify;
}

.inde {
  text-indent: 25px;
}

/* ====================
       DARK MODE
======================= */

/* Chrome DevTools (Three dots > More tools > Rendering > Emulate CSS media feature prefers-color-scheme */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0e1621;

    /* #1e2b33; */

    /* 162233 */
    color: rgb(255 255 255 / 84.7%);
  }

  /* makes all bold text normal */
  b {
    font-weight: normal;
  }

  /* .hmv {
    filter: brightness(0) invert(1);
  } */

  a {
    color: #66bce6;
  }

  a:hover {
    color: #7dc4e6;
  }

  /* scrollbar code */
  @media screen and (min-width: 900px) {
    /* Works on Firefox */
    * {
      /* scrollbar-width: thin; */

      scrollbar-color: dark;
    }

    /* Works on Chrome, Edge, and Safari */

    /**  ::-webkit-scrollbar {
      width: 12px;
    } */

    *::-webkit-scrollbar-track {
      /* the track (progress bar) of the scrollbar. */
      background: #424242; /* outer */
    }

    *::-webkit-scrollbar-thumb {
      /* the draggable scrolling handle. */
      background-color: #686868; /* inner */

      /* border-radius: 20px; */

      /* do i need? */

      /* border-width: 3px; */
      border-style: solid;
      border-color: #424242; /* outer */
    }
  }
}

/* ====================
       HOVER LINK UNDERLINE --REPEATED IN MINIMAL-MOD AND HMV-STYLES
======================= */

/*  http://jsfiddle.net/Markus_Steiger/wch6ara7/ */
a {
  /* font-size: 500%; */
  text-decoration: none;
  background: linear-gradient(currentColor, currentColor) bottom / 0 0.1em
    no-repeat;
  transition: 0.275s background-size;

  /* 1s */

  /* added space before line */
  padding-bottom: 4px;
}

a:hover {
  background-size: 100% 0.1em;
}

/* added remove to from things like img */
.noLine {
  background: none;
}

/*
=
=
=
=
=
=
=
=
=
=
*/

h3 {
  margin: 0;
}

/* ====================
       Chat Button
======================= */

/* fix for not being able to click things on mobile view because some chat button container divs overlay them */
#livechat-compact-container {
  height: 1px !important;
}

.btn-holder {
  height: 1px !important;
}

/* body {
          background: #202020;
        } */
#livechat-compact-container {
  height: 153px;
  position: fixed;
  right: 0;
  top: 200px;
  top: 75vh;

  /* 30vh */

  /* z-index: 10000; */
  z-index: 2;
}

.btn-chat a {
  font-family: Quicksand, sans-serif, serif; /* arial; */
  color: #fff;
  text-decoration: none;
  background: #0d619c;

  /* 1798F7 */
  padding: 24px 20px 9px;

  /* padding: 24px 20px 8px; */
  display: block;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 0 0 1px #1d80c7 inset;
  border: 1px solid #144866;

  /* border-radius: 2px; */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: rotate(90deg) translate(0, -20px);
  transform: rotate(90deg) translate(0, -20px);
  transform: rotate(90deg) translate(0, -20px);
  position: relative;
  right: -35px;

  /* -27px; */
  transition: background 0.2s, right 0.2s ease-out;
}

.btn-chat a:hover {
  background: #2d85c4;

  /* #47B6F5; */
  right: -25px;

  /* -20px; */
  transition: background 0.2s, right 0.2s ease-out;

  /* added */
  cursor: pointer;
}

/* ====================
          Tabs
======================= */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background: #136296;

  /* #f1f1f1 */

  /* added */
  border-radius: 5px /* 5px; */;
  text-align: center;
  direction: ltr;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;

  /* float: left; disabled for centering */
  border: 0.5px solid black;
  outline: none;
  cursor: pointer;
  padding: 12px 14px;

  /* padding: 14px 16px; */
  transition: 0.3s;
  font-size: 17px;

  /* added */
  font-family: dvFont, arFont, Quicksand, sans-serif, faruma;
  color: #eee;
  flex-grow: 1;
  min-width: 20%;
  transition: 0.25s ease-out;

  /* fix odd four unaligned buttons */
  width: 150px;
}

/* outline border shown on mobile tablet but not above */

/* @mixin for-tablet-portrait-up */
@media (min-width: 600px) {
  .tab button {
    border-top: none;
    border-bottom: none;
  }

  .tab button:first-child,
  .tab button:last-child {
    border: none;
  }
}

@media (prefers-color-scheme: light) {
  .tab button {
    background-color: #eee;
    color: #000;
  }

  .tab button:hover {
    background-color: #136296 !important;
    color: #eee !important;
  }

  .tab button.active {
    background-color: #136296 !important;
    color: #eee !important;
  }
}

/* Change background color of buttons on hover */

/* above mobile, tablet-portrait-up */
@media (min-width: 600px) {
  .tab button:hover {
    /* font-size: 110%; */
    letter-spacing: 1.5px;
    -webkit-font-smoothing: antialiased;
  }

  .tab button.active {
    font-size: 110%;
  }
}

.tab button:hover {
  background-color: #eee;

  /* added */
  color: #000;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #eee;

  /* added */
  color: #000;
  letter-spacing: 0;
  cursor: default;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  animation: fadeEffect 0.7s;
  animation: fadeEffect 0.7s;
  animation-timing-function: ease-out;
}

/* Fade in tabs */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ====================
      Quotes Carousel
======================= */
.quotes {
  position: relative;
  max-width: 25em;
  list-style-type: none;

  /* text-align: center; */
  margin: 0 auto;
  padding: 0;

  /* added */
  direction: ltr;
}

.quotes li {
  position: absolute;
  left: 0;
  right: 0;
  background: #136296;

  /* added #ddd */
  text-align: center;
  padding: 1em;
  border-radius: 15px /*0.25em;*/;
  opacity: 0;

  /* added */
  padding-top: 25px;
  color: #fff;
}

.quotes li:last-child {
  position: relative;
}

.quotes li::after {
  /* quote triangle */
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  top: 1.75em;
  left: -0.75em;
  border-top: 0.75em solid transparent;
  border-bottom: 0.75em solid transparent;
  border-right: 0.75em solid #136296;

  /* changed ddd */
}

.quotes span {
  display: block;
  text-align: right;
  margin-right: 5%;
  font-size: 85%;

  /* 75% */
  font-style: italic;
  color: #d6d6d6;

  /* added */
  padding-top: 10px;
}

/* animation timing  =  animation:quote [total duration in secs] [increment by duration of each animation] infinite; */
.quotes li:nth-child(1) {
  animation: quote 30s 0s infinite;
  animation: quote 30s 0s infinite;
}

.quotes li:nth-child(2) {
  animation: quote 30s 5s infinite;
  animation: quote 30s 5s infinite;
}

.quotes li:nth-child(3) {
  animation: quote 30s 10s infinite;
  animation: quote 30s 10s infinite;
}

.quotes li:nth-child(4) {
  animation: quote 30s 15s infinite;
  animation: quote 30s 15s infinite;
}

.quotes li:nth-child(5) {
  animation: quote 30s 20s infinite;
  animation: quote 30s 20s infinite;
}

.quotes li:nth-child(6) {
  animation: quote 30s 25s infinite;
  animation: quote 30s 25s infinite;
}

@keyframes quote {
  /* whole numbers only - round steps to nearest % */
  0% {
    opacity: 0;
  }

  /* (step 2 % = 100% / total quotes x .25) */
  4% {
    opacity: 1;
  }

  /* (step 3 % = 100% / total quotes x .75) */
  13% {
    opacity: 1;
  }

  /* (step 4 % = 100% / total quotes) */
  17% {
    opacity: 0;
  }
}

@keyframes quote {
  /* whole numbers only - round steps to nearest % */
  0% {
    opacity: 0;
  }

  /* (step 2 % = 100% / total quotes x .25) */
  4% {
    opacity: 1;
  }

  /* (step 3 % = 100% / total quotes x .75) */
  13% {
    opacity: 1;
  }

  /* (step 4 % = 100% / total quotes) */
  17% {
    opacity: 0;
  }
}

/* added */
.stars {
  padding-top: 15px;
}

.testimonials {
  padding-top: 15px;
}

/* ====================
         Modal
 ======================= */

/* The Modal (background) */
.modal {
  display: none;

  /* Hidden by default */
  position: fixed;

  /* Stay in place */

  /* z-index: 1; */
  z-index: 999;

  /* Sit on top */

  /* padding-top: 100px;  Location of the box */
  left: 0;
  top: 0;
  width: 100%;

  /* Full width */
  height: 100%;

  /* Full height */
  overflow: auto;

  /* Enable scroll if needed */
  background-color: rgb(0 0 0);

  /* Fallback color */
  background-color: rgb(0 0 0 / 40%);

  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  /* background-color: #fefefe; */
  background-color: #0e1621;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;

  /* added */
  border-radius: 20px; /* 5px; */
  max-width: 500px;
  box-shadow: 0 1px 2.5px rgb(0 0 0 / 20%);

  /* centers */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transform: translateY(-50%);

  /* .w3-animate-top */

  /* position: relative; */
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    top: -500px;
    opacity: 0;
  }

  to {
    top: default;

    /* changed from 0 */
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  /* color: #000; */
  text-decoration: none;
  cursor: pointer;
}

/* added */
@media (prefers-color-scheme: light) {
  .modal-content {
    /* background-color: #fefefe; */
    background-color: #eee;
  }

  /* hr {
            background: #000;
          } */

  /* changes text from white to blue */
  .resp-sharing-button__link {
    color: #00598b !important;
  }
  /* matching filter color for the icons as the text */
  #myModal > div > div > h3 > a > div > div > div {
    filter: invert(25%) sepia(97%) saturate(880%) hue-rotate(170deg)
      brightness(92%) contrast(104%);
  }
}

/* lessens line height since i added social buttons */
#myModal > div > div > h3 {
  line-height: 1;
}

/* adds indent to text before icon */
.contactTexts {
  padding-left: 14px;
  /* vertical-align: middle;*/
  font-family: "Quicksand", sans-serif;
}

/* moves modal items with icons a bit to the left, since icons make the text seem a little to the right */
#myModal > div > div > h3 > a > div {
  margin-left: -15px;
}
/* ====================
         SOCIAL BUTTONS --REPEATED IN MINIMAL-MOD AND HMV-STYLES
 ======================= */

/* added icons from https://iconmonstr.com and optimized them, or otherwise took them from their official sources and then optimized them */

/* https://yoksel.github.io/url-encoder/ */

/**/
.encodedfbBtn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M9 8H6v4h3v12h5V12h3.642L18 8h-4V6.333C14 5.378 14.192 5 15.115 5H18V0h-3.808C10.596 0 9 1.583 9 4.615V8z' /%3E%3C/svg%3E");
}

.encodedvbBtn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12.892 13.745s.427.038.656-.247l.448-.563c.216-.28.738-.458 1.249-.174.676.382 1.55.982 2.149 1.541.33.278.407.688.182 1.121l-.002.009a4.71 4.71 0 0 1-.932 1.148l-.009.006c-.44.367-.946.58-1.487.404l-.01-.014c-.972-.275-3.304-1.464-4.79-2.649-2.431-1.918-4.159-5.082-4.637-6.778l-.015-.01c-.176-.543.039-1.049.404-1.488l.007-.008c.357-.391.739-.701 1.148-.932l.009-.002c.432-.225.842-.149 1.121.182.367.379 1.056 1.291 1.54 2.149.284.51.106 1.033-.173 1.248l-.564.448c-.284.23-.247.657-.247.657s.834 3.156 3.953 3.952zm4.907-2.616c-.167 0-.303-.135-.304-.302-.014-1.83-.564-3.288-1.634-4.332s-2.427-1.581-4.027-1.592c-.168-.001-.303-.138-.301-.306s.136-.301.303-.301h.002c1.762.012 3.258.606 4.447 1.764s1.802 2.765 1.817 4.763c.001.167-.133.304-.301.306h-.002zm-1.595-.624h-.007c-.168-.004-.301-.143-.297-.31.024-1.038-.273-1.878-.906-2.569s-1.495-1.065-2.645-1.149c-.167-.013-.293-.158-.281-.325s.158-.293.325-.281c1.294.095 2.32.548 3.049 1.345s1.092 1.807 1.065 2.992c-.004.165-.139.297-.303.297zm-1.558-.522c-.161 0-.295-.126-.303-.289-.051-1.03-.537-1.534-1.527-1.588-.168-.009-.296-.152-.287-.319s.151-.296.319-.287c1.308.07 2.034.819 2.101 2.164.009.167-.12.31-.288.318l-.015.001zm6.817 3.469c-.605 4.877-4.172 5.185-4.83 5.396-.28.09-2.882.737-6.152.524l-3.199 3.705c-.119.119-.258.167-.352.145-.131-.032-.167-.188-.165-.414l.02-4.016v-.001C2.023 17.468 2.3 12.496 2.354 9.893s.543-4.736 1.996-6.17c2.61-2.364 7.987-2.011 7.987-2.011 4.541.02 6.717 1.387 7.222 1.845 1.675 1.434 2.528 4.867 1.904 9.895zm-.652-11.113c-.597-.548-3.007-2.298-8.375-2.322 0 0-6.33-.382-9.416 2.45C1.302 4.185.698 6.698.634 9.815s-.146 8.958 5.484 10.542l.006.002-.004 2.416s-.035.979.609 1.179c.779.241 1.236-.502 1.981-1.304.408-.44.971-1.086 1.397-1.58 3.851.322 6.812-.417 7.149-.526.777-.253 5.177-.816 5.893-6.657.738-6.022-.358-9.83-2.338-11.548z' /%3E%3C/svg%3E");
}

.encodedtwBtn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M23.4 4.83c-.8.37-1.5.38-2.22.02.94-.56.98-.96 1.32-2.02-.88.52-1.85.9-2.9 1.1-.8-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.04.7.12 1.04-3.78-.2-7.12-2-9.37-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.73-.03-1.43-.23-2.05-.57v.06c0 2.2 1.57 4.03 3.65 4.44-.67.18-1.37.2-2.05.08.57 1.8 2.25 3.12 4.24 3.16-1.95 1.52-4.36 2.16-6.74 1.88 2 1.3 4.4 2.04 6.97 2.04 8.36 0 12.93-6.92 12.93-12.93l-.02-.6c.9-.63 1.96-1.22 2.57-2.14z' /%3E%3C/svg%3E");
}

.encodedigBtn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='m12 2.163 4.85.07c3.252.148 4.771 1.691 4.919 4.919l.069 4.849-.069 4.849c-.149 3.225-1.664 4.771-4.919 4.919l-4.85.07c-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92L2.162 12l.07-4.849c.149-3.227 1.664-4.771 4.919-4.919L12 2.163zM12 0 7.053.072C2.695.272.273 2.69.073 7.052L0 12l.072 4.948c.2 4.358 2.618 6.78 6.98 6.98L12 24l4.948-.072c4.354-.2 6.782-2.618 6.979-6.98L24 12l-.072-4.947c-.196-4.354-2.617-6.78-6.979-6.98L12 0zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162S8.597 18.163 12 18.163s6.162-2.759 6.162-6.163S15.403 5.838 12 5.838zM12 16a4 4 0 1 1 0-8 4 4 0 1 1 0 8zm6.406-11.845a1.44 1.44 0 1 0 0 2.88 1.44 1.44 0 0 0 0-2.88z' /%3E%3C/svg%3E");
}

.encodedtgBtn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M16.114 9.291c.552-.552 1.1-1.84-1.2-.276l-6.489 4.372a2.7 2.7 0 0 1-2.117.046l-2.991-.966s-1.1-.691.783-1.427l10.722-4.418 4.647-1.932s1.657-.645 1.519.92c-.046.644-.414 2.9-.782 5.338l-1.151 7.225s-.092 1.058-.874 1.242a3.787 3.787 0 0 1-2.3-.828l-4.648-3.221a.872.872 0 0 1 .046-1.473 169.31 169.31 0 0 0 4.835-4.602z' /%3E%3C/svg%3E");
}

.encodedytBtn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19.615 3.184c-3.604-.246-11.631-.245-15.23 0C.488 3.45.029 5.804 0 12c.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0C23.512 20.55 23.971 18.196 24 12c-.029-6.185-.484-8.549-4.385-8.816zM9 16V8l8 3.993L9 16z' /%3E%3C/svg%3E");
}

.encodedandBtn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M18 8v9.4a1.58 1.58 0 0 1-1.6 1.6H16v3.5a1.54 1.54 0 0 1-1.5 1.5 1.54 1.54 0 0 1-1.5-1.5V19h-2v3.5A1.54 1.54 0 0 1 9.5 24 1.54 1.54 0 0 1 8 22.5V19h-.4A1.58 1.58 0 0 1 6 17.4V8zm4 7.6c0 .8-.7 1.4-1.5 1.4s-1.5-.6-1.5-1.4V9.5A1.54 1.54 0 0 1 20.5 8 1.54 1.54 0 0 1 22 9.5zm-17 0c0 .8-.7 1.4-1.5 1.4S2 16.4 2 15.6V9.5A1.54 1.54 0 0 1 3.5 8 1.54 1.54 0 0 1 5 9.5zM18 7H6c0-2.3 1.2-3.8 3-4.9L8.1.3c-.1-.1 0-.3.2-.3q.1 0 .1.1l1 1.9c1.7-.8 3.7-.8 5.2 0l1-1.9q0-.1.1-.1c.2 0 .3.2.2.3L15 2.1c1.8 1.1 3 2.6 3 4.9zm-8-2.5a.47.47 0 0 0-.5-.5.47.47 0 0 0-.5.5.47.47 0 0 0 .5.5.47.47 0 0 0 .5-.5zm5 0a.47.47 0 0 0-.5-.5.47.47 0 0 0-.5.5.47.47 0 0 0 .5.5.47.47 0 0 0 .5-.5z' /%3E%3Cpath d='M9 4h1v1H9zm5 0h1v1h-1z' /%3E%3C/svg%3E");
}

.encodedwinBtn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M0 12V3.354l10-1.355V12H0zm11 0h13V0L11 1.807V12zm-1 1H0v7.646l10 1.355V13zm1 0v9.194L24 24V13H11z' /%3E%3C/svg%3E");
}

.encodedwebBtn {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' viewBox='0 0 24 24'%3E%3Cpath d='M12 0a12.01 12.01 0 0 1 12 12 12.01 12.01 0 0 1-12 12A12.01 12.01 0 0 1 0 12 12.01 12.01 0 0 1 12 0m2.557 16H9.442c.546 2.46 1.441 4.114 2.558 5.744 1.194-1.741 2.041-3.41 2.557-5.744M7.4 16H2.833c1.236 2.825 3.704 4.972 6.755 5.716C8.54 19.983 7.805 18.058 7.4 16m13.767 0H16.6c-.391 1.988-1.095 3.887-2.175 5.694 3.012-.763 5.517-2.895 6.742-5.694M7.162 10H2.2a10.09 10.09 0 0 0 0 4h4.915a20.03 20.03 0 0 1 .047-4m7.661 0H9.176c-.165 1.326-.185 2.672-.053 4h5.753c.133-1.328.111-2.673-.053-4m6.977 0h-4.963c.148 1.328.166 2.671.048 4H21.8c.26-1.285.273-2.648 0-4M9.644 2.271C6.567 3.003 4.077 5.157 2.833 8h4.653c.435-2.042 1.178-3.985 2.158-5.729m2.355-.048C10.91 3.993 10.089 5.676 9.536 8h4.927c-.534-2.246-1.337-3.948-2.464-5.777m2.368.069A20.45 20.45 0 0 1 16.513 8h4.654c-1.232-2.816-3.762-4.958-6.8-5.708' /%3E%3C/svg%3E");
}

.encodedmesBtn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' viewBox='0 0 24 24'%3E%3Cpath d='M12 0C5.373 0 0 4.975 0 11.111c0 3.497 1.745 6.616 4.472 8.652V24l4.086-2.242c1.09.301 2.246.464 3.442.464 6.627 0 12-4.974 12-11.111S18.627 0 12 0zm1.193 14.963-3.056-3.259-5.963 3.259L10.733 8l3.13 3.259L19.752 8l-6.559 6.963z'/%3E%3C/svg%3E%0A");
}

.encodedmesBtn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' viewBox='0 0 24 24'%3E%3Cpath d='M12 0C5.373 0 0 4.975 0 11.111c0 3.497 1.745 6.616 4.472 8.652V24l4.086-2.242c1.09.301 2.246.464 3.442.464 6.627 0 12-4.974 12-11.111S18.627 0 12 0zm1.193 14.963-3.056-3.259-5.963 3.259L10.733 8l3.13 3.259L19.752 8l-6.559 6.963z'/%3E%3C/svg%3E%0A");
}

.encodedwaBtn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20.1 3.9C17.9 1.7 15 .5 12 .5 5.8.5.7 5.6.7 11.9c0 2 .5 3.9 1.5 5.6L.6 23.4l6-1.6c1.6.9 3.5 1.3 5.4 1.3 6.3 0 11.4-5.1 11.4-11.4-.1-2.8-1.2-5.7-3.3-7.8zM12 21.4c-1.7 0-3.3-.5-4.8-1.3l-.4-.2-3.5 1 1-3.4L4 17c-1-1.5-1.4-3.2-1.4-5.1A9.39 9.39 0 0 1 12 2.5c2.5 0 4.9 1 6.7 2.8s2.8 4.2 2.8 6.7c-.1 5.2-4.3 9.4-9.5 9.4zm5.1-7.1c-.3-.1-1.7-.9-1.9-1-.3-.1-.5-.1-.7.1a13.5 13.5 0 0 1-.9 1.1c-.2.2-.3.2-.6.1s-1.2-.5-2.3-1.4c-.9-.8-1.4-1.7-1.6-2s0-.5.1-.6.3-.3.4-.5c.2-.1.3-.3.4-.5s0-.4 0-.5S9.3 7.6 9 7c-.1-.4-.4-.3-.5-.3h-.6s-.4.1-.7.3c-.3.3-1 1-1 2.4s1 2.8 1.1 3 2 3.1 4.9 4.3c.7.3 1.2.5 1.6.6.7.2 1.3.2 1.8.1.6-.1 1.7-.7 1.9-1.3.2-.7.2-1.2.2-1.3-.1-.3-.3-.4-.6-.5z'/%3E%3C/svg%3E%0A");
}

.encodedemBtn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' viewBox='0 0 24 24'%3E%3Cpath d='M24 21H0V3h24v18zM1 4.523V20h22V4.523l-10.999 10L1 4.523zM22.089 4H1.913l10.088 9.171L22.089 4z'/%3E%3C/svg%3E%0A");
}

.encodedcallBtn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3.59 1.322 6.434 0l4.041 7.89L7.75 9.231c-.538 1.259 2.159 6.289 3.297 6.372.09-.058 2.671-1.328 2.671-1.328l4.11 7.932-2.854 1.396C7.113 27.194-4.127 5.345 3.59 1.322zm1.93 1.274L4.497 3.1c-5.294 2.762 4.177 21.185 9.648 18.686l.971-.474-2.271-4.383-1.026.5C8.656 18.976 3.557 9.21 6.764 7.491l1.007-.497L5.52 2.596zm7.832 7.649 2.917.87a3.03 3.03 0 0 0-.24-2.317c-.399-.739-1.062-1.247-1.808-1.469l-.869 2.916zm1.804-6.059a6.3 6.3 0 0 1 3.756 3.051 6.3 6.3 0 0 1 .498 4.813l-1.795-.535c.325-1.091.233-2.306-.352-3.387a4.42 4.42 0 0 0-2.643-2.146l.536-1.796zM16.106 1a9.61 9.61 0 0 1 5.729 4.656A9.61 9.61 0 0 1 22.596 13l-1.84-.548a7.71 7.71 0 0 0-.608-5.882c-1.016-1.877-2.696-3.165-4.591-3.729L16.106 1z'/%3E%3C/svg%3E%0A");
}

.fbBtn {
  background-color: #1877f2;
}

.twBtn {
  background-color: #1d9bf0;
}

.tgBtn {
  background-color: #229ed9;
}

/* added */

.vbBtn {
  background-color: #7360f2;
}

.ytBtn {
  background-color: #ff0000;
}

.igBtn {
  /*background-color: #e60000;*/
  /* https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background/37751377#37751377 */
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.mesBtn {
  background-color: radial-gradient(
    circle at center,
    #3f97d2 0%,
    #6c53ab 61%,
    #ff5485 93%,
    #ff6b5f 100%
  );
}

.mesBtn {
  background: linear-gradient(
    to right top,
    rgb(87, 70, 239),
    rgb(87, 70, 239),
    rgb(220, 38, 38),
    rgb(251, 146, 60)
  );
}

.waBtn {
  background: linear-gradient(0deg, #20b038 0%, #67d670 100%);
}

/*
.emBtn {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 20%,
    rgba(9, 9, 121, 1) 70%
  );
}
*/

/*
.callBtn {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 20%,
    rgba(9, 9, 121, 1) 70%
  );
}
*/

/* #footer > a:nth-child(6) > div > div > div { */

.resp-sharing-button__link > div > div > div {
  filter: invert(100%);
  height: 24px;
  width: 24px;
  /* centered svg with https://stackoverflow.com/questions/41822510/center-an-svg-inside-a-div/41822867#41822867 */
  display: inline-block;
  vertical-align: middle;
}

/* https://sharingbuttons.io */

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
}

.resp-sharing-button {
  border-radius: 5px;
  /*transition: 25ms ease-out;*/
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  /* added */
  transition: transform 0.25s ease-out;
}

/* changed .resp-sharing-button--icon/small svg to img before */

.resp-sharing-button__icon svg {
  /*width: 1em;
            height: 1em;*/
  margin-right: 0.4em;
  vertical-align: top;
  /* edit */
  width: 1.25em;
  height: 1.25em;
}

/* this also had --small after button before */
.resp-sharing-button svg {
  margin: 0;
  vertical-align: middle;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  /*stroke: #fff;
            fill: none;*/
  /* edit */
  fill: #fff;
}

/* Solid icons get a fill
          .resp-sharing-button__icon--solid,
          .resp-sharing-button__icon--solidcircle {
            fill: #fff;
            stroke: none;
          } */

/* */

/* darken on hover and enlarge */

.resp-sharing-button:hover,
.resp-sharing-button:active {
  filter: brightness(90%);
  transform: scale(1.25);
}

/* makes svgs white
          .resp-sharing-button img {
            filter: invert(100%);
          }*/
